/*
 * Forum CSS
 *
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

 /* Page-level / body */
html {
 	box-sizing: border-box;
 	background-color:#EBF4FA;
}

body {
max-width: 950px;
min-width:320px;
margin: 0 auto;
position: relative; /* Fix for absolute positioning */
}

a {
	color: black;
}

.page
{
	position:absolute;
	top:0;
	bottom:0;
	padding-bottom:4em;
	width:100%;
	height:100%;
	
}

.page-topic
{
	/*padding-top: 8em; */
}

.page-post
{
	/*padding-top: 3.5em;*/
}

body
{ 
    background-color: white;
    padding-bottom:4em;
}

.container
{
	background-color: white;
}


/* Header / Nav Bars */

#header
{
	height: 8em;
	text-align:center;
	/*background-color:red;*/
	color:white;
	max-width: 950px;
	margin: 0 auto;
	/* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); */
}

/* #postHeader
{
	position:relative;
	max-width: 680px;
	margin: 0 auto;
	position: relative;
} */ 
#topicSection
{
	position:relative;
	max-width: 950px;
	margin: 0 auto;
	position: relative;
}

/* #postSection{
	position:relative;
	max-width: 680px;
	margin: 0 auto;
	position: relative;
} */

/* Topic Details */

#topicDetails
{
	background-color: white;
	font-size:1.1em;
	min-height:2.8em;
	padding-top:4px;
	padding-left:4px;
	margin:0 auto;
}

#topicDescriptionBody
{
	line-height: 1.1;
}


/* - - - Tab-Bar for Posts / Tweets - - - */


@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a  {
    border-bottom: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: 0 !important;
  }
}


/* - - - - - - - */


/* Comments header */


.commentsHeader
{
	text-align: center;
	font-size: 1.0em;
	background-color: rgb(248, 248, 248);
	color: rgb(59, 166, 252);
	font-weight:500;
	min-height:2.2em;
	line-height:2.2em;
}


.commentsContainer
{
	background-color: #EEEEEE;
}
/* Post */

.postRow
{
	font-size:3em;
	/*max-height:4.4em;*/
	background-color: white;
	margin:2px;
	border-bottom: 1px gray;
}

.repliesCommentRow
{
	font-size:3em;
	/*max-height:4.4em;*/
	background-color: rgb(248, 249, 251);
	margin:2px;
	border-bottom: 1px red;
}

.postAuthorPhoto /* left-side of each post row */
{
	/*background-color: yellow;*/
	width: 15%;
	/*max-width: 100px;*/
	float:left;
	padding:5px;
}

.postAuthorPhoto img/* left-side of each post row */
{
	/*background-color: yellow;*/
	/*width: 15%;*/
	max-width: 32px !important;
	/*max-height: 100%;*/
	/*float:left;*/
	/*padding:5px;*/
}

.repliesHeaderPostAuthorPhoto
{
	/*background-color: yellow;*/
	width: 15%;
	/*max-width: 100px;*/
	float:left;
	padding:5px;
}

.repliesHeaderPostAuthorPhoto img
{
	/*background-color: yellow;*/
	/*width: 15%;*/
	max-width: 42px !important;
	/*max-height: 100%;*/
	/*float:left;*/
	/*padding:5px;*/
}

.thumbnail
{
	padding-top:9px;
    border: 0 none;
    box-shadow: none;
    background-color:transparent;
}

.userPhoto
{
	background-color:rgb(230, 237, 243);
	border-radius: 25px;
	-webkit-border-radius: 25px;
}

#pinIcon img {
    display: block;
    padding-left:10px;
    margin-left: auto;
    margin-right: auto;
}
.repliesHeaderUserPhoto
{
	background-color:rgb(246, 250, 251);
	border-radius: 25px;
	-webkit-border-radius: 25px;
	max-height: 32px !important;
}

#pinIcon
{
	font-size: 0.2em;
	/*background-color:red;*/
	max-height:15px;
	text-align: right;
	margin-top: -15px;
	padding: 0px;
}

#pinIcon img
{
	max-height: 15px;
}

.post /* entire right-side of each post row */
{
	width: 85%;
	/*background-color: #EFF;*/
	float:right;
	min-height: 2.0em;
	padding-left: 5px;
	padding-right :10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#replyPost
{
	width: 75%;
	/*background-color: red;*/
	min-height: 2.0em;
	float:left;
	padding-left: 5px;
}

.replyUsername
{
	font-size: 1em;
	float:left;
	color: rgb(166, 189, 207);
	width:80%;
	/*padding-left:5px;*/
}

.postUsername
{
	font-size: 0.31em;
	float:left;
	color: rgb(166, 189, 207);
	width:80%;
	/*padding-left:5px;*/
}



.timestamp
{
	font-size: 0.31em;
	float:right;
	color: rgb(166, 189, 207);
	width:20%;
	text-align: right;
/* padding-right:10px; */
}

.replyTimestamp
{
	font-size: 1em;
	float:right;
	color: rgb(166, 189, 207);
	width:20%;
	text-align: right;
	padding-right:0px;
}

.postContent
{
	/*float:clear;*/
	/*background-color: gray;*/
	/*padding-left: 5px;*/
	padding-right: 5px;
	font-size: 0.34em;
	margin-bottom:0.3em;
	/*overflow:hidden;*/
	word-wrap:break-word;
}

.replyContent
{
	padding-right: 5px;
	font-size: 1em;
	margin-bottom: 1em;
	color: black;
}

.topicPhoto
{
	width:100%;
	height:auto;
	/* max-width:100%;
	max-height:100%; */
	margin-top:0.2em;
	margin-bottom:0.3em;
}

.postPhoto
{
	max-width:100%;
	max-height:100%;
	margin-top:0.2em;
	margin-bottom:0.3em;
}

.postVideo
{
	max-width:100%;
	max-height:100%;
	margin-top:0.2em;
	margin-bottom:0.3em;
}

.playVideoButton
{
	position:absolute;
	float:left;
}

.sharingButtonsRow
{
	float:right;
	/*background-color:gray;*/
	padding-right:0px;
	font-size:0.3em;
	margin-bottom:0.1em;
}

.socialButtonsRow
{
	float:left;
	/*background-color:gray;*/
	padding-left:0px;
	font-size:0.3em;
	margin-bottom:0.1em;
}

.social-btn
{
	float:left;
	color:gray;
	padding:0px;
	width:20px;
}

.social-btn img
{
	width:17px;
	height:17px;
}
.socialButtonLable
{
	float:left;
	min-width:30px;
	width:30px;
	height:16px;
	padding:5px 2px 7px 3px;
} 
span.socialButtonLable
{
    display: inline-block;
}

.social-btn-more
{
	float:right;
	color:gray;
	padding:0px;
	width:20px;
}

.social-btn-more img
{
	float:right;
	width:20px;
	height:20px;
}

.topicSharingButtonsRow
{
	float:left;
	/*background-color:gray;*/
	padding-right:0px;
	font-size:0.8em;
	margin-top:0.3em;
	margin-bottom:0.1em;
}

.topic-social-btn
{
	/*color: rgb(166, 189, 207);*/
	float:left;
	color:gray;
	padding:0px;
	width:24px
}

.topic-social-btn img
{
	float:left;
	width:20px;
	height:20px;
}
.topic-social-btn lable
{
	float:left;
	width:32px;
	height:20px;
}



/* Text Field */

/* #textInputFieldTopic
{
	background-color:red;
	display:inline;
	position:fixed;
	top:15em;
	z-index: 10000;
	
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
} */

#textEntryField
{
	position:fixed;
	bottom:0;
	width:100%;
	padding:10px;
	background-color:white;
	border-top: 1px solid #EEE;
	height:3.9em;
}

#postCommentButton{
	width:15%;
	height:2.4em;
	text-align:center;
	verticle-align:middle;
	/*color:white;*/	
}

#postReplyButton{
	width:15%;
	height:2.4em;
	text-align:center;
	verticle-align:middle;
	margin-right:0px;
	/*color:white;*/	
}
input:focus + button {
   background: linear-gradient(#56A5EC,#82CAFF,#56A5EC);
    
}


/* - - - - - - -Post page - - - - - - - - -*/


#postHeader
{
	height: 5em;
	background-color:rgb(246, 250, 251);
	/*color:white;*/
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);	
}


#backToTopicButton
{
	/*background-color:black;*/
     vertical-align: middle;
     height:100%;
}


#backToTopicButton img
{
	width:24px;
	height:33px;
}


#post_backToTopicButtonSpan
{
	width:10%;
	float:left;
	/*margin-left:-10px;*/
}


.repliesContainer
{
	background-color: #EEEEEE;
}


#repliesCommentSeparator
{
	background-color: rgb(230, 237, 243);
	font-size:0.13em;
}


/* - - - Peel-specific CSS - - - */


#peelNavBar
{
	background-color: black;//rgb(16, 93, 110);
	/*min-height: 3em;*/
	height: 52px;
}

/*
.peelButton
{
	padding:10px;
}
*/


#closePeelButton
{
	float:left;
}

#closePeelButton img
{
	max-height: 100%;
	width:2.4em;
	height:2.4em;
}



#peelWatchOnTVButton
{
	/*float: right;*/
	position: absolute;
	right: 0;
	top: 5px;
}

#peelWatchOnTVButton img
{
	max-height:2.4em;
}


/* - - - 'New Content Available' indicator - - - */

#newCommentsAvailableIndicatorDiv
{
	/*background-color:red;*/
	position:fixed;
	top:11em;
	z-index: 10000;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
}

#newRepliesAvailableIndicatorDiv
{
	position:fixed;
	bottom:5em;
	z-index: 10000;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
}

/* - - - disable scrolling (for use with magnific popup) - - - */

.stop-scrolling
{
  height: 100%;
  overflow: hidden;
}


/* - - - Peel User Splash Page - - - */

#splashUnderlay {
	position: fixed;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.7);
	width: 100%;
	max-width: 950px;
	height: 100%;
	z-index: 10001;
}

#splashOverlay {
	position: relative;
	text-align: center;
	padding: 4% 0%;
	background-color: #fff;
	width: 90%;
	max-width: 950px;
	height: 94%;
	left: 50%;
	margin-left: -45%;
	z-index: 10002;
	top: 50%;
	-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.graphicContainer {
	text-align: center;
	margin-bottom: 5%;
}

#splashGraphic {
	position: relative;
	width: 74%;
	max-width: 300px;
	height: auto;
	z-index: 10003;
}

#continue {
	position: fixed;
	width: 80%;
	max-width: 350px;
	height: auto;
	top: 74%;
	left: 50%;
	margin-left: -40%;
	z-index: 10003;
}

#continue:hover {
	cursor: pointer;
}

#kaveLogo {
	position: fixed;
	width: 65%;
	max-width: 260px;
	height: auto;
	top: 81%;
	left: 19%;
	z-index: 10005
}

@media all and (min-width: 440px) {
	
	#continue {
		margin-left: -175px;
	}

	#kaveLogo {
		left: 50%;
		margin-left: -130px;
	}
}

/* - - - Remove Default Browser Input/Button outlining - - - */

input:focus,
select:focus,
textarea:focus,
button:focus,
[contenteditable="true"]:focus {
    outline: none;
}

button:hover {
	cursor: pointer;
}

/* - - - Facebook Landing Page - - - */

#landingContainer {
	position:relative;
	background-color: #EBF4FA;
  width:100%;
  height:100%;
  text-align: center;
}

#landingGraphic > img {
	width: auto;
	height: 100vh;
}

#facebookButtonContainer {
	position:fixed;
	top: 32vh;
	width:100%;
}

#facebookButton {
	position: absolute;
	width: 60vw;
	height: auto;
	margin-left: -30vw;
}

/* - - - Scorecard Text Rework - - - */

.scoreCardContent {
	width:100%;
	height:125px;
	/*max-height:8em;*/
	line-height: 1.2em;
	position:absolute;
	z-index: 1;
}

.svg-content {
	fill:rgba(0,0,0,0);
}

/* - COLUMNS - */
.grid-col {
  position: relative;
  height: 100%;
  float: left;
  text-align: center;
  z-index: 10;
}
.grid-col-40 {
  width: 37%;
}

#L-40 {
	padding-left: 4%;
}

#R-40 {
	padding-right: 4%;
}

.grid-col-20 {
  width: 26%;
}

/* - ROWS - */
.grid-row-33 {
	height: 33%;
}

.grid-row-34 {
	height: 34%;
}

.grid-row-22 {
	height: 22%;
}

.grid-row-45 {
	height: 45%;
	/*padding-top: 2px;*/
}

.grid-row-33 > span {
	vertical-align: -50%;
}

.grid-row-22 > span {
	vertical-align: -70%;
}

.teamLogo > img {
	max-height: 48px;
	margin-top: 2px;
}

#teamName {
	font-weight: 600;
	font-size: 1.1em;
}

#leftTeamRecord {
	position: absolute;
	font-size: 1em;
	top: 11px;
	left: 85%;
}

#rightTeamRecord {
	position: absolute;
	font-size: 1em;
	top: 11px;
	right: 85%;
}

#possession {
	font-size: 0.9em;
}

#possession > img {
	height: 10px;
}

.score {
	font-size:2.8em;
	font-weight: 300;
	vertical-align: middle;
}

.score-right {
	padding-right: 8%;
}

.score-left {
	padding-left: 8%;
}

.center {
	display: inline-block;
	vertical-align: -170%;
}

.center > span {
	display: block;
	font-weight: 200;
	font-size: 16px;
	line-height: 1.1em;
}

#rightColor {
	width:100%;
	height:125px;
	/*max-height:8em;*/
	position:absolute;
	z-index: 2;
}

#final {
	font-size: 1.4em;
}

#finalDate {
	position: relative;
	top: -6px;
}

#futureTime {
	/*font-size: 0.9em;*/
}

#vs {
	font-size: 1.1em;
}

#liveGameIndicator img {
	position: relative;
	height: 19px;
	top: -5px;
	left: -2%;
}


#allScores
{
	position: relative;
	height:25%;
	vertical-align: middle;
	line-height:0em;
	z-index: 5;
}

#allScoresSpan
{
	font-size:0.9em;
	font-weight:300;
	border: 0.1em solid #EEE;
	padding: 0.2em 0.4em;
	border-radius: 3px;
}

#allScoresLink {
	color: white;
}
#allScoresSpan:hover {
	background-color: #EEE;
}
#allScoresLink:hover {
	color: rgb(59, 166, 252);
}
a,
a:hover,
a:focus {
	text-decoration: none;
}

@media all and (max-width: 340px) {
	#futureTime {
		font-size: 0.3em;
	}
}

@media all and (max-width: 374px) {
	#allScoresSpan {
		font-size: 0.8em;
	}
}

@media all and (max-width: 409px) {
	#futureTime {
		font-size: 1em;
	}
}

@media all and (min-width: 480px) {
	
	.score-right {
		padding-right: 14%;
	}
	.score-left {
		padding-left: 14%;
	}

}

/* - - - UTILITES - - - */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}