/*
 * Forum CSS
 *
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

 /* Page-level / body */
html {
  box-sizing: border-box;
  background-color:#fff;
}

@font-face {
  font-family: "Proxima-Nova";
  font-weight: 200;
  src: url('http://fankave.github.io/img/ProximaNovaLight.otf');
}

@font-face {
  font-family: "Proxima-Nova";
  font-weight: 400;
  src: url('http://fankave.github.io/img/ProximaNovaReg.otf');
}

@font-face {
  font-family: "Proxima-Nova";
  font-weight: 500;
  src: url('http://fankave.github.io/img/ProximaNovaSbold.otf');
}

body {
max-width: 768px;
min-width:320px;
margin: 0 auto;
position: relative; /* Fix for absolute positioning */
font-family: "Proxima-Nova","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

html, body {
  overflow-x: '';
  overflow-y: '';
}

a {
  color: black;
}

#fankave-page
{
  /*position:absolute;*/
  top:0;
  bottom:0;
  /*padding-bottom:4em;*/
  width:100%;
  height:100%;
  background-color: #fff;
}

.page-topic
{
  /*padding-top: 8em; */
  background-color: #fff;
}

.page-post
{
  /*padding-top: 3.5em;*/
}

body
{ 
    background-color: white;
    touch-action: none;
}

.container
{
  background-color: white;
}


/* Header / Nav Bars */

#header {
  /*height: 114px;*/
  text-align:center;
  color:white;
  max-width: 768px;
  margin: 0 auto;
}

#postHeader {
  text-align:center;
  color:white;
  max-width: 768px;
  margin: 0 auto;
}

#topicSection {
  position:relative;
  max-width: 768px;
  margin: 0 auto;
  /*background-color: #fff;*/
  /*border-right: 1px solid rgb(238,238,238);
  border-left: 1px solid rgb(238,238,238);*/
}

#smartStadiumHeader {
  position: fixed;
  z-index: 25;
  height: 54px;
  width: 100%;
  max-width: 768px;
  background-color: #ec2324;
  text-align: center;
  font-size: 18px;
}

#postSmartStadiumHeader {
  position: fixed;
  top: 0;
  z-index: 25;
  height: 54px;
  width: 100%;
  max-width: 768px;
  background-color: #ec2324;
  text-align: center;
  font-size: 18px;
}

#mediaSection
{
  position:relative;
  max-width: 768px;
  margin: 0 auto;
  background-color: white;
}

 #postSection{
  width: 100%;
  max-width: 768px;
  /*background-color: #fff;*/
} 

/* Topic Details */

#topicDetails {
  position: relative;
  z-index: 2;
  background-color: #fff;
  font-size:18px;
  padding-top:12px;
  margin:0 auto;
  text-align: center;
}

#topicDescriptionBody {
  line-height: 1.1;
}

#topicTitle {
  font-weight: 500;
  margin-bottom: 5px;
}


/* - - - Tab-Bar for Posts / Tweets - - - */


@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a  {
    border-bottom: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: 0 !important;
  }
}





/* Comments header */


#commentsContainer
{
  background-color: #fff;
}
/* Post */

.postRow
{
  font-size:3em;
  background-color: white;
  margin:0px;
  border-bottom: 1px solid rgb(238,238,238);
  padding-right: 4%;
  padding-left: 4%;
}

.postRowAlt {
  font-size:3em;
  background-color: white;
  margin:0px;
  border-bottom: 1px solid rgb(238,238,238);
  padding-right: 4%;
  padding-left: 4%;
}

@media all and (min-width: 500px){

}

.postAuthorPhoto:hover,
.chatPostHeader:hover,
.postContent:hover {
  cursor: pointer;
}

.repliesCommentRow
{
  font-size:3em;
  background-color: #fff;
  margin:0px;
  border-bottom: 1px solid rgb(238,238,238);
  padding: 0 4%;
}

.postAuthorPhoto {
  float:left;
  padding-top: 11px;
}

.postAuthorPhoto img {
  width: 35px;
}

.repliesHeaderPostAuthorPhoto
{
  /*background-color: yellow;*/
  width: 15%;
  /*max-width: 100px;*/
  float:left;
  padding:5px;
}

.repliesHeaderPostAuthorPhoto img
{
  /*background-color: yellow;*/
  width: 35px;
  /*max-width: 42px !important;*/
  /*max-height: 100%;*/
  /*float:left;*/
  margin-top: 10px;
}

.thumbnail
{
  border: 0 none;
  box-shadow: none;
  background-color:transparent;
}

.userPhoto
{
  background-color:rgb(230, 237, 243);
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

#pinIcon img {
  display: block;
  padding-left:10px;
  margin: 7px auto;
}
.repliesHeaderUserPhoto
{
  background-color:rgb(246, 250, 251);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  max-height: 32px !important;
}

#pinIcon {
  max-height:15px;
  text-align: right;
}

.post {
  width: 85%;
  background-color: #fff;
  float:left;
  min-height: 2.0em;
  padding-left: 13px;
  padding-right :10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.postTopComment {
  width: 85%;
  /*background-color: rgb(248,248,248);*/
  float:left;
  min-height: 2.0em;
  padding-left: 13px;
  padding-right :10px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.socialPost {
  /*width: 85%;*/
  /*background-color: #EFF;*/
  /*float:left;*/
  /*min-height: 2.0em;*/
  /*margin-left: 13px;*/
  padding-right: 12px;
  padding-top: 9px;
  /*padding-bottom: 10px;*/
}

.socialBottomRow {
  float: right;
  font-size: 0.3em;
  padding-right: 12px;
  margin-bottom: 14px;
}

#replyPost
{
  width: 75%;
  /*background-color: red;*/
  min-height: 2.0em;
  float:left;
  padding-left: 5px;
}

.replyUsername
{
  font-size: 1em;
  float:left;
  color: rgb(166, 189, 207);
  width:80%;
  /*padding-left:5px;*/
}

.postUsername
{
  font-size: 14px;
  float:left;
  color: rgb(29,29,29);
  font-weight: 500;
}

.socialPostUsername
{
  font-size: 16px;
  float:left;
  color: rgb(29,29,29);
  padding-left:13px;
  font-weight: 500;
  max-width: 70%;
}

.timestamp
{
  font-size: 0.31em;
  float:right;
  color: rgb(166, 189, 207);
  /*width:20%;*/
  text-align: right;
/* padding-right:10px; */
}

.chatTimestamp {
  position: absolute;
  right: 0;
  padding-right: 4%;
  font-size: 0.31em;
  color: rgb(166, 189, 207);
  text-align: right;
}

.chatMore {
  position: absolute;
  height: 28px;
  right: 0;
  padding: 0 4% 12px 12px;
  font-size: 0.31em;
  color: rgb(166, 189, 207);
  text-align: right;
}

.replyTimestamp
{
  font-size: 1em;
  float:right;
  color: rgb(166, 189, 207);
  width:20%;
  text-align: right;
  padding-right:0px;
}

.postContent
{
  padding-right: 20px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom:8px;
  word-wrap:break-word;
  color: rgb(31,35,38);
}

.embedContent
{
  /*padding-right: 20px;*/
  font-size: 14px;
  line-height: 18px;
  margin-bottom:8px;
  word-wrap:break-word;
  color: rgb(31,35,38);
}

.socialContent {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(31,35,38);
  margin-bottom: 8px;
}

.videoContent {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(31,35,38);
  margin-bottom: 15px;
  text-align: center;
}

.replyContent
{
  padding-right: 5px;
  font-size: 1em;
  margin-bottom: 1em;
  color: black;
}

.topicPhoto
{
  width:auto;
  height:50px;
  margin-top:0.2em;
  margin-bottom:0.3em;
}

.postPhoto
{
  position: relative;
  width: 100%;
  /*height: 100%;*/
  margin-top:0.2em;
  margin-bottom:0.3em;
}

.portrait {
  max-height: 300px;
  max-width: 240px;
  margin: 0 auto;
}

.landscape {
  max-width: 500px;
  max-height: 300px;
  margin: 0 auto;
}

.postPhotoSocial
{
  position: relative;
  width: 100%;
  /*height: 100%;*/
  margin-top:0.2em;
  margin-bottom:0.3em;
}

.postVideo
{
  /*max-width:100%;*/
  /*max-height:320px;*/
  margin-top:8px;
  /*margin-bottom:15px;*/
}

.chatVideo {
  width:100%;
  max-width: 400px;
  margin-top:8px;
}

.imageContainer {
  position: relative;
  text-align: center;
}

.cropView {
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  max-height: 300px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.chatCropView {
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  max-height: 250px;
  margin: 0 auto 14px auto;
}

.cropView:hover,
.postPhoto:hover {
  cursor: pointer;
}

@media all and (min-width: 600px) {
  .chatCropView {
    max-height: 300px;
  }
}

.playVideoButton
{
  position:absolute;
  float:left;
}

.sharingButtonsRow
{
  float:right;
  /*background-color:gray;*/
  padding-right:0px;
  font-size:0.3em;
  margin-bottom:0.1em;
}

.socialButtonsRow {
  font-size: 12px;
  color: rgb(162,177,182);
  margin-bottom:0.1em;
  /*padding-right: 2%;*/
}

.social-btn
{
  float:left;
  padding:0px;
  margin-bottom: 2px;
}

.social-reply {
  height: 12px;
  width: auto;
}

.social-like {
  height: 14px;
  width: auto;
}

.social-more {
  width: 18px;
  height: auto;
}

.social-metrics {
  width: 100%;
  margin-bottom: 14px;
  margin-top: 1px;
}

.social-metrics-retweet {
  width: 19px;
  height: auto;
  margin-bottom: 14px;
}

.social-metrics-heart {
  width: 12px;
  height: auto;
  margin-bottom: 14px;
}

.social-metrics-reply {
  width: 14px;
  height: auto;
  margin-bottom: 6px;
}

.socialRetweet {
  margin-left: 60px;
  margin-top: 1px;
}

.socialFavorite {
  margin-left: 42px;
}

.social-share-container {
  position: relative;
  display: inline-block;
  float: right;
}

.social-share {
  vertical-align: text-top;
  width: 17px;
  height: auto;
}

.social-share-label {
  font-size: 12px;
  color: rgb(179,184,186);
  padding-left: 2px;
}

.social-metrics-label {
  float: left;
  font-size: 12px;
  padding-left: 2px;
}

.share-dd {
  position: relative;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  top: -4px;
  right: -2px;
  padding-right: 0;
  margin-right: 0;
}

/*.dropdown-menu > li:hover {
  cursor: pointer;
}*/

#chatLike {
  margin-left: 10px;
}

#chatReply {
  margin-left: 35px;
}

.socialButtonLable
{
  float:left;
  /*min-width:30px;*/
  /*width:30px;*/
  height:16px;
  padding:3px 2px 7px 5px;
  font-size: 12px;
} 
span.socialButtonLable
{
    display: inline-block;
}

.replyLabel {
  padding-left: 5px;
  font-size: 12px;
  color: #7e8b8f;
  display: inline-block;
  vertical-align: middle; 
}

.social-btn-more
{
  float:right;
  padding-right: 0;
  margin-right: 0;
  /*width:18px;*/
}

.social-btn-more img
{
  float:right;
  width:18px;
  height:auto;
}

.topic-social-btn
{
  /*color: rgb(166, 189, 207);*/
  float:left;
  color:gray;
  padding:0px;
  width:24px
}

.topic-social-btn img
{
  float:left;
  /*width:20px;*/
  /*height:20px;*/
}
.topic-social-btn lable
{
  float:left;
  width:32px;
  height:20px;
}



/* Text Field */

/* #textInputFieldTopic
{
  background-color:red;
  display:inline;
  position:fixed;
  top:15em;
  z-index: 10000;
  
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
} */

#textEntryField
{
  position:fixed;
  bottom:0;
  width:100%;
  padding:10px;
  background-color:white;
  border-top: 1px solid #EEE;
  height:3.9em;
}

#postReplyButton{
  width:15%;
  height:2.4em;
  text-align:center;
  verticle-align:middle;
  margin-right:0px;
  /*color:white;*/  
}
input:focus + button {
   background: linear-gradient(#56A5EC,#82CAFF,#56A5EC);
    
}


/* - - - - - - -Post page - - - - - - - - -*/


#postHeader
{
  /*height: 47px;*/
  background-color:rgb(255,255,255);
  /*box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);*/
  border-bottom: 1px solid rgb(230,236,236);
}


#backToTopicButton {
  position: relative;
  width: 100%;
  margin-left: 8px;
}


#backToTopicButton img {
  float: left;
  height: 14px;
  margin-top: 10px;
}

#backToTopicButton span {
  position: relative;
  float: left;
  font-size: 16px;
  font-weight: 500;
  top: 7px;
  margin-left: 5px;
}

#greySpan {
  color: rgb(179,184,186);
  margin-left: 15px;
}

#blueSpan {
  color: rgb(22,189,231);
}

#post_backToTopicButtonSpan {
  position: absolute;
  top: 4px;
  left: 0%;
}

#backToChatContainer {
  height: 50px;
}


.repliesContainer {
  /*background-color: #EEEEEE;*/
  /*border-bottom: 1px solid rgb(238,238,238);*/
}


#repliesCommentSeparator
{
  background-color: rgb(238,238,238);
  font-size:0.15em;
}


/* - - - Peel-specific CSS - - - */


#peelNavBar {
  position: fixed;
  top: 0;
  background-color: rgb(48,48,48);
  height: 54px;
  z-index: 25;
  width: 100%;
  max-width: 768px;
}


/*.peelButton {
  wid
  padding: 6px 9px;
}*/



#closePeelButton {
  /*float:left;*/
  position: absolute;
  left: 0;
  top: 5px;
}

#closePeelButton img {
  /*max-height: 100%;*/
  /*width:2.4em;*/
  height:2.4em;
}



#peelWatchOnTVButton {
  position: absolute;
  right: 0;
  top: 13px;
  width: 117px;
  height: 28px;
  margin-right: 2%;
  border: 1px solid rgb(87,87,87);
  color: rgb(90,90,90);
  font-size: 12px;
  font-weight: 500;
}

#peelText {
  color: rgb(90,90,90);
  font-size: 14px;
  font-weight: 500;
  vertical-align: -90%;
}

/* - - - 'New Content Available' indicator - - - */

#newCommentsAvailableIndicatorDiv,
#newVideosAvailable,
#newSocialAvailable {
  position:fixed;
  z-index: 10000;
  width: 100%;
  max-width: 768px;
  margin-top: 41px;
}

#newRepliesAvailableIndicatorDiv {
  position:fixed;
  bottom:5em;
  z-index: 10000;
  width: 100%;
  max-width: 768px;
  text-align: center;
}

#newCommentsButton,
#newVideosButton,
#newSocialButton {
  width: 125px;
  height: 30px;
  background-color: #16bde7;
  border: none;
  border-radius: 15px;
  color: #fff;
  padding-top: 3px;
  margin-top: 3px;
}

/* - - - disable scrolling (for use with magnific popup) - - - */

.stop-scrolling
{
  height: 100%;
  overflow: hidden;
}


/* - - - Peel User Splash Page - - - */

#splashUnderlay {
  position: fixed;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.7);
  width: 100%;
  max-width: 768px;
  height: 100vh;
  z-index: 10001;
  text-align: center;
}

#splashOverlay {
  position: relative;
  text-align: center;
  padding: 4% 0%;
  background-color: #fff;
  width: 90%;
  max-width: 768px;
  height: 94%;
  /*left: 50%;*/
  /*margin-left: -45%;*/
  margin: 0 auto;
  z-index: 10002;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.graphicContainer {
  text-align: center;
  margin-bottom: 5%;
}

#splashGraphic {
  position: relative;
  margin-top: 25px;
  width: 74%;
  max-width: 300px;
  height: auto;
  z-index: 10003;
}

#splashOverlaySB {
  position: relative;
  text-align: center;
  /*padding: 4% 0%;*/
  background-color: #fff;
  width: 90%;
  max-width: 768px;
  height: 94%;
  /*left: 50%;*/
  /*margin-left: -45%;*/
  margin: 0 auto;
  z-index: 10002;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.graphicContainerSB {
  text-align: center;
  /*margin-bottom: 5%;*/
}

#splashGraphicSB {
  position: relative;
  /*margin-top: 25px;*/
  width: 100%;
  /*max-width: 300px;*/
  height: auto;
  max-height: 94vh;
  z-index: 10003;
}

#continue {
  position: fixed;
  width: 80%;
  max-width: 350px;
  height: auto;
  top: 74%;
  left: 50%;
  margin-left: -40%;
  z-index: 10003;
}

/*#continue:hover {
  cursor: pointer;
}*/

#kaveLogo {
  position: fixed;
  width: 65%;
  max-width: 260px;
  height: auto;
  top: 81%;
  left: 19%;
  z-index: 10005
}

@media all and (min-width: 440px) {
  
  #continue {
    margin-left: -175px;
  }

  #kaveLogo {
    left: 50%;
    margin-left: -130px;
  }
}

/* - - - Remove Default Browser Input/Button outlining - - - */

input:focus,
select:focus,
textarea:focus,
button:focus,
[contenteditable="true"]:focus {
    outline: none;
}

/*button:hover {
  cursor: pointer;
}*/

/* - - - Facebook Landing Page - - - */

#landingContainer {
  position:relative;
  background-color: #EBF4FA;
  width:100%;
  height:100%;
  text-align: center;
}

#landingContainer > div {
  width: 50%;
  margin: 0 auto;
}

#landingGraphic {
  width: auto;
  height: 100vh;
}

#facebookButton {
  position: absolute;
  top: 33vh;
  width: 63vw;
  max-width: 250px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

#facebookSpinner {
  position: absolute;
  top: 30vh;
  width: 100px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

/*#facebookButton:hover {
  cursor: pointer;
}*/

@media all and (orientation: landscape) and (max-device-width: 736px) {
  #facebookButton {
    top: 70vh;
  }
  #landingContainer {
    overflow: hidden;
  }
  #landingGraphic {
    height: 230vh;
    margin-top: -5vh;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
  #facebookButton {
    max-width: 370px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #facebookButton {
    max-width: 280px;
  }
}

@media all and (min-device-width: 1025px) {
  #facebookButton {
    height: 9vh;
    width: auto;
    max-width: 400px;
  }
}

/* - - - Scorecard Text Rework - - - */

.scoreCardContent {
  position: relative;
  width:100%;
  max-width: 768px;
  height:114px;
  line-height: 1.2em;
  z-index: 1;
  color: #fff;
}

.svg-content {
  fill:rgba(0,0,0,0);
}

/* - COLUMNS - */
.grid-col {
  position: relative;
  height: 100%;
  float: left;
  text-align: center;
  z-index: 2;
}

.grid-col-alt {
  position: relative;
  height: 100%;
  float: left;
  text-align: center;
  z-index: 1;
}

.grid-col-50 {
  width: 50%;
}

.grid-col-40 {
  width: 37%;
}

.grid-col-33 {
  width: 33%;
}

.grid-col-34 {
  width: 34%;
}

.grid-col-11 {
  width: 11%;
}

.grid-col-16 {
  width: 16%;
}

.grid-col-73 {
  width: 73%;
}

#L-40 {
  padding-left: 6%;
}

#R-40 {
  padding-right: 6%;
}

.grid-col-20 {
  width: 26%;
}

/* - ROWS - */
.grid-row-33 {
  height: 33%;
}

.grid-row-34 {
  height: 34%;
}

.grid-row-22 {
  height: 22%;
}

.grid-row-45 {
  height: 45%;
}

.grid-row-33 > span {
  vertical-align: -80%;
}

.grid-row-22 > span {
  vertical-align: -70%;
}

/* - Scorecard Elements - */
.teamLogo > img {
  max-height: 50px;
  /*max-width: 56px;*/
  margin-top: 8px;
}

.largeLogo > img {
  max-height: 56px;
}

#teamName {
  font-weight: 500;
  font-size: 15px;
}

#leftTeamRecord {
  position: absolute;
  font-size: 12px;
  top: 11px;
  right: 0%;
}

#rightTeamRecord {
  position: absolute;
  font-size: 12px;
  top: 11px;
  left: 0%;
}

#possession {
  font-size: 13px;
}

#possession > img {
  height: 10px;
  vertical-align: baseline;
}

.score {
  font-size:2.8em;
  font-weight: 300;
  vertical-align: middle;
}

.score-right {
  padding-right: 8%;
}

.score-left {
  padding-left: 8%;
}

.triple {
  font-size: 2.2em;
  font-weight: 300;
  vertical-align: middle;
}

.triple-right {
  padding-right: 4%;
}

.triple-left {
  padding-left: 4%;
}

@media all and (min-width: 500px){
  .triple {
    font-size: 2.8em;
  }
}

.center {
  display: inline-block;
  vertical-align: -200%;
}

.center > span {
  display: block;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2em;
}

#rightColor {
  width:100%;
  height:114px;
  position:absolute;
  z-index: 2;
}

#final {
  font-size: 1.4em;
}

#finalDate {
  position: relative;
  top: -5px;
}

#futureTime {
  /*font-size: 0.9em;*/
}

#vs {
  font-size: 1.1em;
}

#liveGameIndicator img {
  position: relative;
  height: 19px;
  top: -4px;
  left: -2%;
}


#allScores
{
  position: relative;
  height:25%;
  vertical-align: middle;
  line-height:0em;
  z-index: 5;
}

#allScoresSpan {
  font-size:13px;
  font-weight:300;
  color: rgb(255,255,255);
  border: 0.1em solid rgb(255,255,255);
  padding: 3px 6px;
  border-radius: 3px;
}

#allScoresLink {
  color: white;
}
#allScoresSpan:hover {
  background-color: #fff;
  color: rgb(22,189,231);
}
#allScoresLink:hover {
  color: rgb(22,189,231);
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

/* - Media Queries - */

@media all and (min-width: 500px) {
  
  .score-right {
    padding-right: 14%;
  }
  .score-left {
    padding-left: 14%;
  }
  #teamName {
    font-size: 18px;
  }
  #rightTeamRecord {
    font-size: 14px;
    left: 8%;
  }
  #leftTeamRecord {
    font-size: 14px;
    right: 8%;
  }

}

@media all and (max-width: 409px) {
  
  #futureTime {
    font-size: 15px;
  }
  .triple-left {
    padding-left: 0%;
  }
  .triple-right {
    padding-right: 0%;
  }
}

@media all and (max-width: 374px) {
  #allScoresSpan {
    font-size: 11px;
  }
  .score {
    font-size: 2.4em;
  }
  #R-40 {
    padding-right: 1%;
  }
  #L-40 {
    padding-left: 1%;
  }
  #possession {
    font-size: 11px;
  }
  .center {
    vertical-align: -190%;
  }
  .center > span {
    font-size: 14px;
  }
  #teamName {
    font-size: 13px;
  }
  #futureTime {
    font-size: 14px;
  }
}

@media all and (max-width: 350px) {
  .triple {
    font-size: 2.2em;
  }
  #futureTime {
    font-size: 13px;
  }
  #vs {
    font-size: 13px;
  }
}

/* - - - UTILITES - - - */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: rgb(0,123,154);
}

/* - - - Attach Media - - - */
img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}

#textInputFieldTopic {
  /*background-color: rgb(248,249,251);*/
}

#textInputFieldReply {
  background-color: rgb(248,249,251);
}

#commentField {
  color: rgb(29,29,29);
  background-color: rgb(248,248,248);
  border-color: rgb(22,189,231);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

textarea#commentField {
  height: 30px;
  font-size: 14px;
  border-color: rgb(22,189,231);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#postCommentField {
  color: rgb(29,29,29);
  background-color: rgb(248,248,248);
  border-color: rgb(22,189,231);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

textarea#postCommentField {
  height: 30px;
  font-size: 14px;
  border-color: rgb(22,189,231);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#attachMediaIcon {
  height: 30px;
  margin: 0 12px;
  float: left;
}

#attachMediaIcon > img {
  position: relative;
  width: 24px;
  height: auto;
  vertical-align: -44%;
}

/*#attachMediaIcon:hover {
  cursor: pointer;
}*/

#postCommentButton{
  width: 35px;
  height: 30px;
  margin: 0 15px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(211,214,215);
  float: right;
  border: none;
  background-color: #fff;
  padding: 0;
  outline: none;
}

#postCommentDiv {
  width: 100%;
  max-width: 768px;
  overflow: hidden;
  background-color: #fff;
  padding: 5px 0;
  border-top: 1px solid rgb(230,236,236);
  /*border-bottom: 1px solid rgb(230,236,236);*/
}

#postCommentDivAlt {
  width: 100%;
  max-width: 768px;
  overflow: hidden;
  background-color: #fff;
  padding: 5px 0;
  /*border-bottom: 1px solid rgb(230,236,236);*/
}

#mobilePostCommentDiv {
  position: relative;
  width: 100%;
  max-width: 768px;
  overflow: hidden;
  background-color: #fff;
  padding: 5px 0;
  /*border-top: 1px solid rgb(230,236,236);*/
}

#postCommentDiv input {
  width: 100%;
}

#postCommentDivAlt input {
  width: 100%;
}

#mobilePostCommentDiv input {
  width: 100%;
}

#postCommentDiv span {
  display: block;
  overflow: hidden;
}

#postCommentDivAlt span {
  display: block;
  overflow: hidden;
}

#mobilePostCommentDiv span {
  display: block;
  overflow: hidden;
}

#fileUpload {
  visibility: hidden;
  height: 0px;
  padding: 0px;
  margin: 0px;
  /*position: absolute;*/
  /*top: -100px;*/
}

.progress {
  height: 15px;
  position: relative;
}

.mobileProgress {
  height: 15px;
  position: relative;
}

#progress-bar {
  height: 100%;
  background-color: rgb(59,166,252);
  opacity: 0.8;
  transition-property: width;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  transition-delay: initial;
}

/* - - - External Link iFrame - - - */

#xContentUnderlay {
  position: fixed;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.7);
  width: 100%;
  max-width: 768px;
  height: 100%;
  z-index: 10001;
}

#xContentOverlay {
  position: relative;
  text-align: center;
  /*box-shadow: 5px 5px 5px #222 inset;*/
  padding: 0 5px 55px 5px;
  background-color: #fff;
  width: 90%;
  max-width: 768px;
  height: 94%;
  left: 50%;
  margin-left: -45%;
  z-index: 10002;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#iframewrapper {
  width: 100%;
  height: 100%;
}

#xSrc {
  width: 100%;
  height: 100%;
}

#xContent {
  display: none;
}

#backToChat {
  /*position: absolute;*/
  height: 50px;
  padding: 5px;
  font-size: 16px;
  text-align: left;
}

#backToChat > img {
  height: 40px;
}

#backToChat:hover {
  cursor: pointer;
  color: #EBF4FA;
}

/* - - - TABS - - - */

.topic-social-btn {
  color:gray;
  padding:0px;
  width:24px
}

.topic-social-btn img {
  width: 100%;
  height: auto;
}

.socialButtonLabel {
  position: absolute;
  bottom: 0px;
  padding-left: 10px;
}

.fkFont {
  font-family: "Proxima-Nova","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  color: #a2b1b6;
}

.tabContainer {
  text-align: center;
  font-size: 1.0em;
  background-color: rgb(248, 248, 248);
  /*color: rgb(59, 166, 252);*/
  font-weight:500;
  line-height:1.8em;
  height: 42px;
  z-index: 1;
  /*background-color: rgb(248,248,248);*/
}

.tabName {
  vertical-align: -50%;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: rgb(162,177,182);
}

.tab {
  border-bottom: 1px solid rgb(192,210,214);
  border-top: 2px solid rgb(192,210,214);
}

#socialTab,
#videoTab {
  border-left: 1px solid rgb(192,210,214);
}

.tab:hover {
  cursor: pointer;
  border-bottom: 4px solid rgb(22,189,231);
  color: rgb(22,189,231);
}

.selectedTab {
  background-color: rgb(255,255,255);
  border-bottom: 4px solid rgb(22,189,231);
  border-top: 1px solid rgb(192,210,214);
}

.selectedTab > span {
  color: rgb(22,189,231);
}

.fixTabsPeel {
  position: fixed !important;
  /*top: 54px;*/
  width: 100%;
  max-width: 768px;
  z-index: 10010;
}

.fixTabs {
  position: fixed !important;
  /*top: 0px;*/
  width: 100%;
  max-width: 768px;
  z-index: 10010;
}

.fixTabContainer {
  text-align: center;
  font-size: 1.0em;
  background-color: rgb(248, 248, 248);
  font-weight:500;
  /*line-height:1.5;*/
  height: 42px;
  background-color: rgb(248,248,248);
}

.topicSharingButtonsRow {
  width: 100%;
  text-align: center;
  font-size: 0.9em;
}

#headComment,
#headLike,
#headMore {
  position: relative;
  display: inline-block;
  vertical-align: -80%;
  margin-bottom: 5px;
}

#headLike {
  left: 18%;
}

#headComment {
  right: 19%;
}

@media all and (min-width: 500px){
  #headLike {
    left: 22%;
  }
  #headComment {
    right: 23%;
  }
}

@media all and (min-width: 650px){
  #headLike {
    left: 25%;
  }
  #headComment {
    right: 26%;
  }
}

#headMore {
  left: -18%;
  vertical-align: -50%;
}

#uploadControls {
  display: inline-block;
  position: relative;
  float: left;
  width: 60%;
  top: 30px;
  z-index: 10005;
  padding-right: 20px;
}

#mobileUploadControls {
  display: inline-block;
  position: relative;
  float: left;
  width: 60%;
  top: 30px;
  z-index: 10005;
  padding-right: 20px;
}
.mobileProgress {
  margin-bottom: 0;
}

#uploadButtons {
  margin-bottom: 10px;
}

.thumb {
  height: 35px;
  max-width: 35px;
  /*border: 1px solid rgb(192,210,214);*/
}

#postCommentForm {
  background-color: #fff;
  border-bottom: 1px solid rgb(230,236,236);
}

#mobilePostCommentForm {
  background-color: #fff;
  border-top: 1px solid rgb(230,236,236);
}

#preview {
  position: relative;
  float: left;
  height: 30px;
  margin: 12px 0 10px 0;
  padding-left: 48px;
  padding-right: 30px;
}

#mobilePreview {
  position: relative;
  float: left;
  height: 30px;
  margin: 12px 0 10px 0;
  padding-left: 48px;
  padding-right: 20px;
}

.fileWarning {
  padding-left: 10px;
}

#removeMedia {
  position: absolute;
  top: -7px;
  left: 76px;
  width: 15px;
  height: 15px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 9px;
  padding: 0;
  z-index: 1;
}

/*#removeMedia:hover {
  cursor: pointer;
}*/

.socialAlias {
  /*display: block;*/
  color: rgb(179,184,186);
  font-size: 14px;
  font-weight: 500;
  float: left;
  padding-left: 13px;
}

#providerLogo {
  margin-right: 5px;
  height: 14px;
  width: auto;
  vertical-align: -5%;
}

.socialContentContainer {
  width: 100%;
  padding: 0 0;
}

.socialName {
  float: left;
}

.socialText {
  /*padding-left: 4%;*/
}

#mobileUserInput {
  position: fixed;
  width: 100%;
  bottom: 0%;
  z-index: 2;
  background-color: #fff;
}

.chatPostHeader {
  min-height: 22px;
}

#socialHeader {
  min-height: 30px;
  padding-top: 8px;
  /*padding-right: 4%;*/
  margin-bottom: 1px;
}

#socialHeaderContainer {
  width: 100%;
  min-height: 54px;
}

#inputControls {
  position: relative;
  z-index: 2;
}

.moreRepliesContainer {
  position: relative;
  height: 25px;
  width: 100%;
  background-color: rgb(248,248,248);
  margin: 40px 0 2px 0;
  text-align: center;
  font-size: 12px;
  color: rgb(162,177,182);
  padding-top: 4px;
}

.moreReplies {
  font-size: 12px;
}

/* Social/Video Tab Videos */
.twitterVideo {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  padding-right: 0px;
}

.youtubeVideo {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding-right: 0px;
  margin: 0 auto;
  margin-bottom: 12px; 
}

.vineVideo {
  width: 100%;
  height: auto;
  max-width: 300px;
  padding-right: 0px;
}

.mp4VideoContainer {
  /*margin-bottom: 15px;*/
  text-align: center;
}

/* Embedded Videos */
.embedTwitterVideo {
  width: 100%;
  max-width: 400px;
  max-height: 250px;
  padding-right: 0px;
}

.embedYoutubeVideo {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding-right: 0px;
  margin: 0 auto;
}

.embedYoutubeVideo > iframe {
  height: 250px;
}

.embedVineVideo {
  width: 100%;
  height: auto;
  max-width: 300px;
  padding-right: 0px;
}

.mp4EmbedVideoContainer {
  text-align: center;
}

#loadChatFill {
  width: 100%;
  height: 110px;
  padding: 11px 12px 8px 12px;
  background-color: #fff;
  border-bottom: 1px solid rgb(238,238,238);
}

.load {
  background-color: rgb(238,238,238);
}

.loadPost {
  /*width: 85%;*/
  /*background-color: #fff;*/
  float:left;
  /*min-height: 2.0em;*/
  padding-left: 13px;
  /*padding-right :10px;*/
  /*padding-bottom: 10px;*/
}

.loadProfilePhoto {
  float: left;
  width: 35px;
  height: 35px;
}

.loadChatUsername {
  width: 145px;
  height: 14px;
  float: left;
}

.loadChatTimestamp {
  width: 35px;
  height: 14px;
  position: absolute;
  right: 0;
  margin-right: 12px;
}

.loadChatBody {
  width: 290px;
  height: 47px;
  float: left;
  margin-top: 8px;
}

.loadSocialAlias {
  width: 113px;
  height: 14px;
  float: left;
  margin-top: 8px;
}

.loadSocialBody {
  width: 333px;
  height: 44px;
  position: absolute;
  margin-top: 44px;
}

.loadChatFooter {
  width: 290px;
  height: 14px;
  position: relative;
  top: 63px;
}

#moreContentBar {
  width: 100%;
  height: 42px;
  background-color: #16bde7;
  text-align: center;
}

#moreCommentsBar {
  width: 100%;
  height: 42px;
  background-color: #16bde7;
  text-align: center;
}

/*#moreContentBar:hover,
#moreContentBar:hover {
  cursor: pointer;
}*/

#moreContentText {
  font-size: 14px;
  color: #fff;
  vertical-align: -60%;
}

#moreCommentsText {
  font-size: 14px;
  color: #fff;
  vertical-align: -60%;
}


/* Chat Embed Content */
.chatEmbedContainer {
  border: 1px solid rgb(211,214,215);
  border-radius: 2px;
  margin-bottom: 14px;
  margin-top: 10px;
  padding: 0 4%;
}

.embedSocialButtonsRow {
  font-size: 12px;
  color: rgb(162,177,182);
  margin-bottom:0.1em;
  height: 24px;
}

/* Share Embed Dialog */
#sharePreviewContainer {
  position: fixed;
  top: 0px;
  z-index: 20;
  background-color: #fff;
  padding: 15px;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  border: 1px solid rgb(211,214,215);
  box-shadow: 0px 5px 5px rgb(179,184,186);
}

.shareFormContainer {
  position: relative;
  width: 100%;
}

#shareEmbedComment {
  font-size: 16px;
  color: rgb(31,35,38);
  padding: 5px 5px 0px 5px;
  height: 50px;
  width: 80%;
  border: none;
  resize: none;
}

#postShareContent {
  float: right;
  font-size: 16px;
  font-weight: 600;
  color: rgb(22,189,231);
  width: 20%;
  text-align: center;
}

.embedTimestamp {
  float: right;
  color: rgb(166,189,207);
  text-align: right;
  font-size: 12px;
}

.exitShare {
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
}

/* Smart Stadium */
#ssTopicControls {
  background-color: #fff;
  height: 42px;
  padding-top: 1px;
  text-align: center;
}

#ssHighlights {
  text-align: right;
  padding-top: 2px;
}

#ssStats {
  text-align: left;
}

#ssTeamsSpan {
  position: relative;
  vertical-align: -24px;
}

#ssHighImg {
  height: 21px;
  width: auto;
  right: -9px;
}

#ssRostImg {
  height: 18px;
  width: auto;
}

#ssStatImg {
  height: 18px;
  width: auto;
  left: -9px;
}

.ss-btn {
  position: relative;
  vertical-align: -50%;
}

#ssStaticContainer {
  position: fixed;
  top: 0px;
  background-color: #fff;
  z-index: 30;
  width: 100%;
  max-width: 768px;
  height: 100vh;
}

#ssHighlightsView {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  max-width: 768px;
  z-index: 31;
  background: url("http://fankave.github.io/img/SS/ss_highlights@3x.png") no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#ssRosterView {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  max-width: 768px;
  z-index: 31;
  background: url("http://fankave.github.io/img/SS/ss_roster@3x.png") no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#ssStatsView {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  max-width: 768px;
  z-index: 31;
  background: url("http://fankave.github.io/img/SS/ss_stats@3x.png") no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#ssProfileStatsView {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  max-width: 768px;
  z-index: 31;
  background: url("http://fankave.github.io/img/SS/ss_profile_stats@3x.png") no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#ssExitView {
  position: fixed;
  top: 0px;
  background-color: transparent;
  width: 100%;
  max-width: 768px;
  height: 72px;
  z-index: 35;
}

#PSVHidden {
  position: fixed;
  top: 72px;
  background-color: transparent;
  width: 100%;
  max-width: 768px;
  height: 600px;
  z-index: 35;
}

#ssSplashHeader h1 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 4%;
}

#ssSplashHeader h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}

#ssSplashHeader {
  /*height: 18%;*/
}

#ssSplashGraphics {
  /*height: 45%;*/
  margin-bottom: 12%;
}

#ssScoreboard {
  margin-top: 2%;
  margin-bottom: 4%;
}

.ssIcon {
  position: relative;
  height: 100%;
  float: left;
  z-index: 10002;
}

#ssNews,
#ssVid {
  position: relative;
  width: 36%;
}

#ssTw {
  position: relative;
  width: 28%;
  text-align: center;
}

#ssNews {
  text-align: right;
  padding-right: 3%;
}

#ssVid {
  text-align: left;
  padding-left: 3%;
}

#ssSplashDesc {
  /*height: 15%;*/
  font-size: 19px;
  font-weight: 400;
  padding: 0 3%;
}

#ssSplashJoin {
  margin-top: 3%;
}

#ssSplashJoinBtn {
  width: 80%;
  max-width: 350px;
  height: 60px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  background-color: #5ba7ff;
  border-radius: 3px;
  border: none;
  margin-top: 30px;
}

#ssSplashX {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3% 4%;
  color: #b3b8ba;
  font-size: 22px;
}

/* Tech MI16 */

#techPage {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
}

.techBG {
  background: #90beef;
  background: -webkit-linear-gradient(rgb(244,252,255), rgb(131,178,234), rgb(18,65,195));
  background: -o-linear-gradient(rgb(244,252,255), rgb(131,178,234), rgb(18,65,195));
  background: -moz-linear-gradient(rgb(244,252,255), rgb(131,178,234), rgb(18,65,195));
  background: linear-gradient(rgb(244,252,255), rgb(131,178,234), rgb(18,65,195));
}

.mwcBG {
  background-color: #E52235;
}


#techLoginContainer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  padding: 30px 35px;
}

#techLoginHeader h1,
#MWCLoginHeader h1 {
  font-size: 60px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 4px;
}

#MWCLoginHeader h1 {
  /*text-align: center;*/
  /*margin-bottom: 20px;*/
}

#MWCLoginHeader h4 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 300;
}

#MWCLoginHeader {
  color: #fff;
  font-weight: 400;
}

#techLoginHeader h3 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 4px;
}

#techLoginHeader h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom:34px;
}

.techHelp {
  position: absolute;
  margin: 0;
}
.nameHelp {
  top: 271px;
}
.emailHelp {
  top: 338px;
}
.nameHelpMWC {
  top: 228px;
}
.emailHelpMWC {
  top: 292px;
}

#techLoginButton {
  width: 100%;
  height: 70px;
  margin: 30px 0;
  font-size: 28px;
  color: #fff;
  background-color: rgb(186,186,186);
  border-radius: 35px;
  border: none;
}

#MWCLoginButton {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(18,65,195);
  border-radius: 35px;
  border: none;
}

#techLoginButton:hover {
  cursor: pointer;
}

#techLoginDescription {
  color: #fff;
}

#MWCLoginDescription {
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#formInstruct {
  display: block;
  margin-bottom: 14px;
}

#formInstructMWC {
  display: block;
  margin-bottom: 14px;
  color: #fff;
  font-weight: 300;
}

.centerMWC {
  text-align: center;
}

.techMInput {
  width: 100%;
  height: 46px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 200;
  color: #000;
}

.MWCInput {
  width: 100%;
  height: 46px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 200;
  color: #000;
  background-color: #fff;
}

.techMInput::-moz-placeholder,
.MWCInput::-moz-placeholder {
  font-size: 20px;
  font-weight: 200;
  color: rgb(167,167,167);
  opacity: 1;
}
.techMInput:-ms-input-placeholder,
.MWCInput:-ms-input-placeholder {
  font-size: 20px;
  font-weight: 200;
  color: rgb(167,167,167);
  opacity: 1;
}
.techMInput::-webkit-input-placeholder,
.MWCInput::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: 200;
  color: rgb(167,167,167);
  opacity: 1;
}
.techMInput:focus,
.MWCInput:focus {
  border-color: rgb(22,189,231);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#MI16Title,
#MWCTitle {
  font-weight: 500;
  margin-bottom: 5px;
  text-align: left;
  padding: 0 20px;
}

#MWCTitle {
  font-size: 16px;
}

#MI16Banner,
#MWCBanner {
  width: 100%;
  max-width: 768px;
  height: auto;
}

.video-js {
  display: inline-block;
  margin-bottom: 15px;
}

.video-js-chat,
.video-js-embed {
  display: inline-block;
  color: #fff;
  background-color: #000;
  position: relative;
  padding: 0;
  font-size: 10px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.media-parent {
  position: relative;
}
.media-player {
  position: relative;
  width: 100%;
  margin: 0px auto 14px auto;
}

.embed-player {
  position: relative;
  width: 100%;
  margin: 0px auto;
}

.image-div {
  position: relative;
  width: 100%;
  margin: 0px auto 14px auto;
}

.media-video {
  position: absolute;
  width: 100%;
  /*max-width: 500px;*/
  background-color: #000;
}

.media-controls {
  position: absolute;
  width: 100%;
  text-align: center;
  /*z-index: 3;*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.triangle {
  display: inline-block;
  vertical-align: middle;
}

.play-triangle {
  position: relative;
  width: 12px;
  height: 14px;
  border-left: solid 12px #fff;
  border-bottom: solid 8px transparent;
  border-top: solid 8px transparent;
  left: 2px;
  bottom: 1px;
}

.play-pause-button {
  width: 43px;
  height: 43px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  border: solid 3px #fff;
}

.play-pause-button:focus {
  outline: none;
}

.pause {
  visibility: hidden;
}

.media-thumbnail {
  position: absolute;
  width: 100%;
  /*z-index: 2;*/
  background-size: cover;
  background-repeat: no-repeat;
}

.image-control-contain {
  position: relative;
  width: 100%;
  /*z-index: 2;*/
  background-size: cover;
  background-repeat: no-repeat;
}

.video-thumb {
  position: absolute;
  width: 100%;
}

.media-thumbnail,
.media-video,
.media-player {
  border: none;
  border-radius: 3px;
  /*max-height: 300px;*/
}

.video-portrait-1x2,
.image-portrait-1x2 {
  max-width: 150px;
}

.video-portrait-9x16,
.image-portrait-9x16 {
  max-width: 169px;
}

.video-landscape-16x9,
.image-landscape-16x9 {
  max-width: 533px;
}

.video-landscape-2x1,
.image-landscape-2x1 {
  max-width: 600px;
}

.video-square,
.image-square {
  max-width: 381px;
}

@media all and (min-width: 500px){
  .video-square,
  .image-square {
    max-width: 300px;
  }
}

video::-webkit-media-controls {
    display:none !important;
}

:-webkit-full-screen {
  z-index: 100000000 !important;
}

.media-loading-default {
  visibility: hidden;
}

.media-loading {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.media-loading-fullscreen {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50vh;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#loadSpinner {
  width: 43px;
  height: auto;
}

iframe {
  border: none;
}

#ptrZone {
  position: relative;
  width: 100%;
  max-width: 768px;
  text-align: center;
  background-color: transparent;
}

#ptrZone > span {
  display: inline-block;
  vertical-align: -50%;
}

#ptrTextC {
  display: inline-block;
  background-color: #eee;
  height: 182px;
  text-align: center;
  width: 100%;
  max-width: 768px;
}

#ptrTextStart {
  display: inline-block;
  vertical-align: -160px;
}

#ptrTextEnd {
  display: none;
  vertical-align: -160px;
}

#pullZone {
  width: 100%;
  max-width: 768px;
  height: 202px;
  background-color: transparent;
  margin-top: -182px;
}

