<div class="media-player" ng-style="setDimensions(thisPost.mediaAspectRatio, thisPost.mediaOrientation)" ng-click="togglePlayPause($event)">
  <video class="media-video" ng-style="setDimensions(thisPost.mediaAspectRatio, thisPost.mediaOrientation)">
    <source ng-src="{{trustSrc(thisPost.mediaUrl)}}" type="video/mp4">
  </video>
  <div class="media-thumbnail" ng-class="{{setAspectRatio(thisPost.mediaAspectRatio,thisPost.mediaOrientation)}}" ng-style="setDimensions(thisPost.mediaAspectRatio, thisPost.mediaOrientation, thisPost)">
  </div>
  <div class="media-controls">
    <button class="btn btn-default play-pause-button" title="play">
      <div class="triangle play-triangle"></div>
    </button>
  </div>
</div>