<section id="topicSection">
  <nav class="navbar navbar-fixed-top" id="header">
    <div id="peelNavBar" ng-if="isPeelUser == true">
      <button class="btn-link peelButton" id="closePeelButton" ng-click="peelClose()"><img src="img/peelBackButton-2x.png"/></button>
      <button class="btn-link peelButton" id="peelWatchOnTVButton" ng-click="peelWatchOnTV()"><img src="img/peel_watchOnTVButton.png"/></button>
    </div>
  </nav>

  <div id="textInputFieldTopic" class="clearfix">
    <form id="postCommentForm" ng-submit="postComment(commentText)">
      <div id="postCommentDiv" class="input-group">
        <label for="fileUpload" id="attachMediaIcon">
          <img src="img/attach-media.png" ng-click="clickAttachMedia()" />
        </label>

        <button id="postCommentButton" class="btn btn-default" type="button" ng-click="postComment(commentText)">POST</button>

        <span><input id="topicCommentField" type="text" class="form-control"
        placeholder="Write a comment..." ng-model="commentText"></span>

        
        <input id="fileUpload" filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="form.uploader" class="form-control" />

      </div>
    </form>
  </div>
</section>


