<section id="postSection">
  <nav class="navbar navbar-fixed-top" id="postHeader">
    <div id="peelNavBar" ng-if="isPeelUser === true">
      <button class="btn-link peelButton" id="closePeelButton" ng-click="backToTopicButtonTapped()"><img ng-src="img/backButton-2x.png"/></button>
      <span id="peelText">Peel Bar</span>
      <button class="btn-link peelButton" id="peelWatchOnTVButton" ng-click="peelWatchOnTV()">Watch Channel</button>
    </div>
    <div id="postSmartStadiumHeader" ng-if="isSmartStadiumUser === true">
      <span id="ssTeamsSpan">Arsenal @ Sunderland</span>
    </div>
    <div id="backToChatContainer">
      <span id="post_backToTopicButtonSpan">
        <button id="backToTopicButton" class="btn-link" ng-click="backToTopicButtonTapped()">
          <img ng-src="img/smallBackChat@2x.png"/>
          <span id="greySpan">Back to </span><span id="blueSpan">Game Chat</span>
        </button>
      </span>
    </div>
  </nav>

  <div class="row repliesCommentRow" ng-switch="comment.mediaType">
    <span class="postAuthorPhoto">
      <div class="thumbnail">
          <img ng-src="{{comment.postAuthorPhoto}}" onerror="this.src='img/default_user_v3.png'" class="userPhoto">
        </div>
        <div id="pinIcon" ng-if="comment.pin == true">
          <img ng-src="img/pin.png"/>
        </div>
    </span>

    <span class="postTopComment">
      <div class="chatPostHeader">
        <span class="postUsername">
          {{comment.postAuthorName}}
        </span>
        <span class="chatTimestamp">
          {{comment.postTimestamp}}
        </span>
      </div>

      <div ng-bind-html="comment.html | linky" class="postContent">
        {{comment.html}} 
      </div> 

      <div class="imageContainer" ng-switch-when="image">
        <div class="chatCropView" ng-style="{background:'url({{comment.mediaUrl}}) no-repeat','background-size':'cover','height':comment.mediaAspectFeed.h, 'margin-bottom':'15px'}" ng-click="imageClick(comment.mediaUrl)">
        </div>
      </div>

      <div ng-switch-when="video" class="mp4VideoContainer">
        <video controls="controls" preload="auto" ng-attr-poster="{{comment.mediaThumbUrl}}" class="video-js-chat vjs-default-skin" ng-class="{ 'video-chat-android': mobileUserAgent === 'android' }">
          <source ng-src="{{trustSrc(comment.mediaUrl)}}" type="video/mp4">
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div>

      <embed-shared-content embed-post="comment.embed" ng-if="comment.shared" image-zoom="imageClick(imgSrc)" trust-source="trustSrc(videoSrc)" prevent-nav="" mobile-user-agent="mobileUserAgent"></embed-shared-content>

      <div class="socialButtonsRow">
        <button id="chatLike" class="btn-link social-btn" ng-click="updateLikeComment(comment.id)" ng-switch="comment.isLiked">
          <img class="social-like" ng-switch-when="true" ng-src="img/thumbsUp_select@2x.png"/> 
          <img class="social-like" ng-switch-when="false" ng-src="img/thumbsUp@2x.png"/> 
          
        </button>
        <span class="socialButtonLable">{{comment.likeCount}}  </span>

        <button id="chatReply" class="btn-link social-btn" ng-click="triggerRepliesKeyboard()">
          <img class="social-reply" ng-src="img/shareCopy@2x.png"/> 
        </button>
          <span class="socialButtonLable" ng-click="triggerRepliesKeyboard()"> Reply</span>
      </div>
      <div class="sharingButtonsRow">
        <div class="chatTimestamp">
          <button class="btn-link social-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="moreButtonTapped();">
            <img class="social-more" ng-src="img/moreButton.png"/>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" ng-switch="comment.isMyComment">

            <li ng-switch-when="true"><a ng-click="deleteComment(comment.id);">Delete Comment</a></li>
            <li ng-switch-when="false"><a ng-click="reportCommentAsSpam(comment.id);">Report as spam</a></li>
          </ul>
        </div>
      </div>
    </span>
  </div>
  
  <div id="textInputFieldReply" class="clearfix" ng-if="mobileBrowser === false" ng-controller="UserInputController as user">
    <div id="preview" ng-if="user.uploader.queue.length > 0">
      <button type="button" id="removeMedia" class="fkFont" ng-click="user.removeMedia()">X
      </button>
    </div>
    <div id="uploadControls" ng-if="user.uploader.isUploading && user.uploader.queue.length > 0">
        <div class="progress" style="margin-bottom: 0;">
          <div id="progress-bar" role="progressbar" ng-style="{ 'width': user.uploader.progress + '%' }"></div>
        </div>
    </div>
    <form id="postCommentForm" ng-submit="user.postComment(commentText,false)">
      <div id="postCommentDivAlt" class="input-group">
        <label for="fileUpload" id="attachMediaIcon">
          <img ng-src="img/attach-media.png" />
        </label>

        <button id="postCommentButton" class="btn btn-default" type="button" ng-click="user.postComment(commentText,false)">Post</button>

        <span><input id="postCommentField" type="text" class="form-control"
        placeholder="Write a reply..." ng-model="commentText" ng-focus="user.highlightPost()" ng-blur="user.unhighlightPost()"></span>
        
        <input id="fileUpload" filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="user.uploader" class="form-control" />

      </div>
    </form>
    <div class="fileWarning" ng-if="user.fileMaxExceeded" ng-switch="user.mediaType">
      <span class="text-danger" ng-switch-when="image">Image Max Size Exceeded: Please ensure file is less than 5MB</span>
      <span class="text-danger" ng-switch-when="video">Video Max Size Exceeded: Please ensure file is less than 256MB</span>
    </div>
    <div class="fileWarning" ng-if="user.HTML5warning === true">
      <span class="text-danger">Please Use a Browser That Supports HTML5</span>
    </div>
  </div>
  
  <div class="repliesContainer">

    <div ng-repeat="thisReply in replies | orderBy: $index" class="row postRow" ng-switch="thisReply.mediaType">
      
      <span class="postAuthorPhoto">
        <div class="thumbnail">
            <img ng-src="{{thisReply.postAuthorPhoto}}" alt="" onerror="this.src='img/default_user_v3.png'" class="userPhoto">
          </div>
      </span>

      <span class="post">
        <div class="chatPostHeader">
          <span class="postUsername">
            {{thisReply.postAuthorName}}
          </span>
          <span class="chatTimestamp">
            {{thisReply.postTimestamp}}
          </span>
        </div>

        <div ng-bind-html="thisReply.html | linky" class="postContent">
          {{thisReply.html}} 
        </div>

        <div class="imageContainer" ng-switch-when="image">
          <div class="chatCropView" ng-style="{background:'url({{thisReply.mediaUrl}}) no-repeat','background-size':'cover','height':thisReply.mediaAspectFeed.h, 'margin-bottom':'15px'}" ng-click="imageClick(thisReply.mediaUrl)">
          </div>
        </div>

        <div ng-switch-when="video" class="mp4VideoContainer">
          <video controls="controls" ng-attr-poster="{{thisReply.mediaThumbUrl}}" class="video-js-chat vjs-default-skin" ng-class="{ 'video-chat-android': mobileUserAgent === 'android' }">
            <source ng-src="{{trustSrc(thisReply.mediaUrl)}}" type="video/mp4">
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
        </div>

        <embed-shared-content embed-post="thisReply.embed" ng-if="thisReply.shared" image-zoom="imageClick(imgSrc)" trust-source="trustSrc(videoSrc)" prevent-nav=""></embed-shared-content>  

        
      <div class="socialButtonsRow">
        <button id="chatLike" class="btn-link social-btn" ng-click="updateLikeReply(thisReply.id)" ng-switch="thisReply.isLiked">
          <img class="social-like" ng-switch-when="true" ng-src="img/thumbsUp_select@2x.png"/> 
          <img class="social-like" ng-switch-when="false" ng-src="img/thumbsUp@2x.png"/> 
          
        </button>
        <span class="socialButtonLable">{{thisReply.likeCount}}  </span>

        <!-- <button id="chatReply" class="btn-link social-btn" ng-click="triggerRepliesKeyboard()">
          <img class="social-reply" src="img/shareCopy@2x.png"/> </button>
          <span class="socialButtonLable" ng-click="triggerRepliesKeyboard()"> Reply</span>
        <span class="socialButtonLable">{{thisReply.commentCount}}</span> -->
      </div>
      <div class="sharingButtonsRow">
        <div class="chatTimestamp">
          <button class="btn-link social-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="social-more" ng-src="img/moreButton.png"/>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" ng-switch="thisReply.isMyReply">

            <li ng-switch-when="true"><a ng-click="deleteReply(thisReply.id);">Delete Reply</a></li>
            <li ng-switch-when="false"><a ng-click="reportReplyAsSpam(thisReply.id);">Report as spam</a></li>
          </ul>
        </div>
      </div>
          
      </span>
      
    </div>
  </div>

  <div id="mobileUserInput" class="clearfix" ng-if="mobileBrowser === true" ng-controller="UserInputController as user">

    <div id="mobilePreview" ng-if="user.uploader.queue.length > 0">
        <button type="button" id="removeMedia" class="fkFont" ng-click="user.removeMedia()">X
        </button>
      </div>
      <div id="mobileUploadControls" ng-if="user.uploader.isUploading && user.uploader.queue.length > 0">
        <div class="progress mobileProgress">
          <div id="progress-bar" role="progressbar" ng-style="{ 'width': user.uploader.progress + '%' }"></div>
        </div>
    </div>
    <form id="mobilePostCommentForm" ng-submit="user.postComment(commentText,false)">
      <div id="mobilePostCommentDiv" class="input-group">
        <label for="fileUpload" id="attachMediaIcon">
          <img ng-src="img/attach-media.png" />
        </label>

        <button id="postCommentButton" class="btn btn-default" type="button" ng-click="user.postComment(commentText,false)">Post</button>

        <span><input id="postCommentField" type="text" class="form-control"
        placeholder="Write a reply..." ng-model="commentText" ng-focus="user.highlightPost()" ng-blur="user.unhighlightPost()"></span>
        
        <input id="fileUpload" filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="user.uploader" class="form-control" />

      </div>
    </form>
    <div class="fileWarning" ng-if="user.fileMaxExceeded" ng-switch="user.mediaType">
      <span class="text-danger" ng-switch-when="image">Image Max Size Exceeded: Please ensure file is less than 5MB</span>
      <span class="text-danger" ng-switch-when="video">Video Max Size Exceeded: Please ensure file is less than 256MB</span>
    </div>
    <div class="fileWarning" ng-if="user.HTML5warning === true">
      <span class="text-danger">Please Use a Browser That Supports HTML5</span>
    </div>
  </div>

</section>


<div id="newRepliesAvailableIndicatorDiv" ng-show="showNewRepliesIndicator">
  <button id="newCommentsAvailableIndicatorButton" class="btn-link" ng-click="newRepliesIndicatorTapped()">
    <img ng-src="img/newReplyIndicator.png" />
  </button>
</div>
