<div class="scoreCardContent clearfix" ng-if="topicType === 'livegame' && !isMI16User">

  <div id="rightColor">
    <svg 
      version="1.1"
      class="svg-content"
      x="0"
      y="0"
      width="100%"
      height="100%"
      viewBox="0 0 100 100"
      preserveAspectRatio="none">
      <polygon points="60,0 100,0 100,100 40,100"/>
    </svg>
  </div>

  <!-- Left Column -->
  <div id="L-40" class="grid-col grid-col-40">
    
    <!-- Top Row (Name & Record) -->
    <div class="grid-row-22">
      <span id="teamName">{{leftTeam.name}}</span>
      <span id="leftTeamRecord" ng-if="gameStatus === 'past' || gameStatus === 'future'"></span>
    </div>

    <!-- Middle Row (Logo & Score) -->
    <div class="grid-row-45">
      <span class="teamLogo" ng-class="{largeLogo: gameStatus === 'future'}"><img ng-src="{{leftTeam.logo}}" /></span>

      <span class="score score-left" ng-if="leftTeamScore.length < 3 && rightTeamScore.length < 3" ng-hide="gameStatus === 'future'">{{leftTeamScore}}</span>
      <span class="triple triple-left" ng-if="leftTeamScore.length === 3 || rightTeamScore.length === 3" ng-hide="gameStatus === 'future'">{{leftTeamScore}}</span>
    </div>

    <!-- Bottom Row (Ball Possession) -->
    <div class="grid-row-33">
      <span id="possession" ng-if="gameStatus === 'live'"></span>
    </div>

  </div>

  <!-- Center Column -->
  <div class="grid-col grid-col-20">
    
    <!-- Top Row (Live OR VS) -->
    <div id="liveGameIndicator" class="grid-row-22">
      <span ng-if="gameStatus === 'live'"><img ng-src="img/live-2x.png"/></span>
      <span id="vs" ng-if="gameStatus === 'future'">VS</span>
    </div>
    
    <!-- Middle Row (Current/Future Game Info) -->
    <div class="grid-row-45 time">
      <div class="center" ng-if="gameStatus === 'live'">
        <span>{{gamePeriod}}</span>
        <span>{{gameClock}}</span>
      </div>
      <div class="center" ng-if="gameStatus === 'future'">
        <span>{{gameScheduledTime.date}}</span>
        <span id="futureTime">{{gameScheduledTime.time}}</span>
      </div>
      <div class="center" ng-if="gameStatus === 'past'">
        <span id="finalDate">{{gameScheduledTime.date}}</span>
        <span id="final">
          <span>FINAL</span>
        </span>
      </div>
    </div>
    
    <!-- Bottom Row (All Scores Button) -->
    <div class="grid-row-33">
      <span ng-if="allScoresURL"><a id="allScoresLink" href="{{allScoresURL}}" target="_blank">
        <span id="allScoresSpan">{{allScoresTitle}}</span>
      </a></span>
    </div>

  </div>

  <!-- Right Column -->
  <div id="R-40" class="grid-col grid-col-40">
    
    <!-- Top Row (Name & Record) -->
    <div class="grid-row-22">
      <span id="rightTeamRecord" ng-if="gameStatus === 'past' || gameStatus === 'future'"></span>
      <span id="teamName">{{rightTeam.name}}</span>
    </div>
    
    <!-- Middle Row (Logo & Score) -->
    <div class="grid-row-45">

      <span class="score score-right" ng-if="rightTeamScore.length < 3 && leftTeamScore.length < 3" ng-hide="gameStatus === 'future'">{{rightTeamScore}}</span>
      <span class="triple triple-right" ng-if="rightTeamScore.length === 3 || leftTeamScore.length === 3" ng-hide="gameStatus === 'future'">{{rightTeamScore}}</span>
      
      <span class="teamLogo" ng-class="{largeLogo: gameStatus === 'future'}"><img ng-src="{{rightTeam.logo}}" /></span>
    </div>
    
    <!-- Bottom Row (Ball Possession) -->
    <div class="grid-row-33">
      <span id="possession" ng-if="gameStatus === 'live'"></span>
    </div>
  </div>

</div>
