<div class="chatEmbedContainer" ng-switch="thisPost.embedMedia.mediaType">
  <!-- Embed Header -->
  <div id="socialHeaderContainer">
    <span class="postAuthorPhoto">
      <span>
        <a class="thumbnail">
          <img ng-src="{{thisPost.embed.author.photo}}" alt="" onerror="this.src='img/default_user_v3.png'" class="userPhoto" />
        </a>
      </span>
    </span>
    <div id="socialHeader">
      <span class="socialPostUsername">
        {{thisPost.embed.author.name}}
      </span>
      <span class="embedTimestamp">
        <img id="providerLogo" ng-src="{{thisPost.embed.provider.logo}}" />{{thisPost.embed.embedCreatedAt}}
      </span>
    </div>
    <div class="socialAlias">
      @{{thisPost.embed.author.alias}}
    </div>
  </div>

  <!-- Embed Content -->
  <div class="socialContentContainer">
    <div ng-bind-html="thisPost.embed.text | linky" class="postContent socialContent">
      <p>{{thisPost.embed.text}}</p><br> 
    </div>

    <embed-player ng-if="thisPost.embedPlayable === true && thisPost.embedType === 'link'" this-post="thisPost" class="media-parent"></embed-player>

    <image-control this-post="thisPost" ng-switch-when="image" ng-if="!thisPost.embedPlayable" ng-click="imageClick(thisPost.mediaUrl)" class="media-parent"></image-control>
 
    <media-player this-post="thisPost" vid-source="" vid-index="{{$index}}" ng-switch-when="video" class="media-parent" ng-click="preventNav()"></media-player>
  </div>

  <!-- Embed Metrics -->
  <div class="embedSocialButtonsRow socialText">
    <button class="btn-link social-btn" ng-click="preventNav()">
      <!-- <a href="https://twitter.com/intent/tweet?via=FanKave&in_reply_to={{thisPost.tweetId}}"> -->
      <img class="social-metrics-reply" ng-src="img/reply@2x.png" />
      <!-- </a> -->
    </button>
    <span class="social-metrics-label"> {{thisPost.embed.metrics.replyCount}}</span>

    <button class="btn-link social-btn socialRetweet" ng-click="preventNav()">
      <!-- <a href="https://twitter.com/intent/retweet?tweet_id={{thisPost.tweetId}}"> -->
      <img class="social-metrics-retweet" ng-src="img/retweet@2x.png" />
      <!-- </a>  -->
    </button>
    <span class="social-metrics-label">{{thisPost.embed.metrics.retweetCount}}</span>

    <button class="btn-link social-btn socialFavorite" ng-click="preventNav()">
      <!-- <a href="https://twitter.com/intent/like?tweet_id={{thisPost.tweetId}}"> -->
      <img class="social-metrics-heart" ng-src="img/heart@2x.png" />
      <!-- </a> -->
    </button>
    <span class="social-metrics-label">{{thisPost.embed.metrics.likeCount}}</span>
  </div>
</div>