<div id="loadChatFill" ng-repeat="item in [1,2,3,4,5]" ng-if="social.loading">
  <span class="load loadProfilePhoto"></span>
  <span class="loadPost">
    <div class="clearfix">
      <span class="load loadChatUsername"></span>
      <span class="load loadChatTimestamp"></span>
    </div>
    <div class="load loadSocialAlias"></div>
  </span>
  <div class="load loadSocialBody"></div>
</div>

<div ng-repeat="thisPost in social.socialArray | orderBy: '-createdAtFull'" ng-switch="thisPost.mediaType" class="row postRowAlt" id="{{$index}}" repeat-finished-notify="social.doneLoading()">
  <div id="socialHeaderContainer">
    <span class="postAuthorPhoto">
      <span>
        <a class="thumbnail">
          <img ng-src="{{thisPost.postAuthorPhoto}}" alt="" onerror="this.src='img/default_user_v3.png'" class="userPhoto" />
        </a>
      </span>
      <span id="pinIcon" ng-if="thisPost.pin == true">
        <img ng-src="img/pin.png" />
      </span>
    </span>
    <div id="socialHeader">
      <span class="socialPostUsername">
        {{thisPost.postAuthorName}}
      </span>
      <span class="timestamp">
        <img id="providerLogo" ng-src="{{thisPost.providerLogo}}" />{{thisPost.postTimestamp}}
      </span>
    </div>
    <div class="socialAlias">
      @{{thisPost.postAuthorAlias}}
    </div>
  </div>
  <div class="socialContentContainer">
    <div ng-bind-html="thisPost.html | linky" class="postContent socialContent">
      <p>{{thisPost.html}}</p><br> 
    </div>

    <image-control this-post="thisPost" ng-switch-when="image" ng-if="!thisPost.embedPlayable" class="media-parent"></image-control>

    <embed-player ng-if="thisPost.embedPlayable === true && thisPost.embedType === 'link'" this-post="thisPost" class="media-parent"></embed-player>

    <media-player this-post="thisPost" vid-source="" vid-index="{{$index}}" ng-if="thisPost.mediaType === 'video'" class="media-parent"></media-player>
  </div> 

  <div class="socialButtonsRow socialText">
    
    <button class="btn-link social-btn" secure-click="">
      <a href="{{social.secureLink('https://twitter.com/intent/tweet?via=FanKave&in_reply_to=',thisPost.tweetId)}}">
        <img class="social-metrics-reply" ng-src="img/reply@2x.png"/>
      </a>
    </button>
    <span class="social-metrics-label"> {{thisPost.replyCount}}</span>

    <button class="btn-link social-btn socialRetweet" secure-click="">
      <a href="{{social.secureLink('https://twitter.com/intent/retweet?tweet_id=',thisPost.tweetId)}}">
        <img class="social-metrics-retweet" ng-src="img/retweet@2x.png" />
      </a> 
    </button>
    <span class="social-metrics-label">{{thisPost.retweetCount}}</span>

    <button class="btn-link social-btn socialFavorite" secure-click="">
      <a href="{{social.secureLink('https://twitter.com/intent/like?tweet_id=',thisPost.tweetId)}}">
        <img class="social-metrics-heart" ng-src="img/heart@2x.png" />
      </a>
    </button>
    <span class="social-metrics-label">{{thisPost.likeCount}}</span>

    <div class="social-share-container">
      <button class="share-dd dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="social-share" ng-src="img/share@2x.png"/>
        <span class="social-share-label">Share</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a ng-click="social.shareTweetToChat(thisPost)">Share to Live Chat</a></li>
        <li ng-if="isPeelUser === false"><a ng-click="social.shareToFacebook(thisPost.id,thisPost.embedUrl)">Share to Facebook</a></li>
      </ul>
    </div>

  </div>
</div>

<div id="moreContentBar" ng-click="social.loadContent(social.socialArray.length)">
  <span id="moreContentText">Load more...</span>
</div>

<share-to-chat-dialog ng-if="social.showShareDialog" this-post="social.embedShareContent" trust-source="social.trustSrc(videoSrc)" share-submit="social.submitSharedPost(commentData,embedData)" exit-share="social.exitShare()" highlight="social.highlightPost()" unhighlight="social.unhighlightPost()"></share-to-chat-dialog>
