<section id="peelSplash" ng-hide="hidePeelSplash">
  <div id="splashUnderlay">
    <div id="splashOverlay">
      <div class="graphicContainer">
        <img src="img/splash_graphic.png" id="splashGraphic"/>
      </div>
      <div class="graphicContainer">
        <img src="img/peel_join.png" id="continue" ng-click="continueToExperience()"/>
        <!-- <img src="img/kave_logo2.png" id="kaveLogo"/> -->
      </div>
    </div>
  </div>
</section>

<section id="xContent">
  <div id="xContentUnderlay" ng-click="backToChat()">
    <div id="xContentOverlay">
      <div id="backToChat" ng-click="backToChat()"><img src="img/backButton-2x.png" />Back To Live Chat</div>
      <div id="iframewrapper">
        <iframe frameborder="0" id="xSrc" name="xLinkFrame">
          
        </iframe>
      </div>
    </div>
  </div>
</section>

<section id="topicSection">
  <nav class="navbar navbar-fixed-top" id="header">
    <div id="peelNavBar" ng-if="isPeelUser == true">
      <button class="btn-link peelButton" id="closePeelButton" ng-click="peelClose()"><img src="img/peelBackButton-2x.png"/></button>
      <button class="btn-link peelButton" id="peelWatchOnTVButton" ng-click="peelWatchOnTV()"><img src="img/peel_watchOnTVButton.png"/></button>
    </div>
    <div class="scoreCardContent clearfix">

      <div id="rightColor">
        <svg 
        version="1.1"
        class="svg-content"
        x="0"
        y="0"
        width="100%"
        height="100%"
        viewBox="0 0 100 100"
        preserveAspectRatio="none">
        <polygon points="60,0 100,0 100,100 40,100"/>
      </svg>
    </div>

    <!-- Left Column -->
    <div id="L-40" class="grid-col grid-col-40">
      
      <!-- Top Row (Name & Record) -->
      <div class="grid-row-22">
        <span id="teamName">{{leftTeam.name}}</span>
        <span id="leftTeamRecord" ng-if="gameStatus === 'past' || gameStatus === 'future'"></span>
      </div>

      <!-- Middle Row (Logo & Score) -->
      <div class="grid-row-45">
        <span class="teamLogo" ng-class="{largeLogo: gameStatus === 'future'}"><img src={{leftTeam.logo}} /></span>

        <span class="score score-left" ng-if="leftTeamScore.length < 3" ng-hide="gameStatus === 'future'">{{leftTeamScore}}</span>
        <span class="triple triple-left" ng-if="leftTeamScore.length === 3" ng-hide="gameStatus === 'future'">{{leftTeamScore}}</span>
      </div>

      <!-- Bottom Row (Ball Possession) -->
      <div class="grid-row-33">
        <span id="possession" ng-if="gameStatus === 'live'"></span>
      </div>

    </div>

    <!-- Center Column -->
    <div class="grid-col grid-col-20">
      
      <!-- Top Row (Live OR VS) -->
      <div id="liveGameIndicator" class="grid-row-22">
        <span ng-if="gameStatus === 'live'"><img src="img/live-2x.png"/></span>
        <span id="vs" ng-if="gameStatus === 'future'">VS</span>
      </div>
      
      <!-- Middle Row (Current/Future Game Info) -->
      <div class="grid-row-45 time">
        <div class="center" ng-if="gameStatus === 'live'">
          <span>{{gamePeriod}}</span>
          <span>{{gameClock}}</span>
        </div>
        <div class="center" ng-if="gameStatus === 'future'">
          <span>{{gameScheduledTime.date}}</span>
          <span id="futureTime">{{gameScheduledTime.time}}</span>
        </div>
        <div class="center" ng-if="gameStatus === 'past'">
          <span id="finalDate">{{gameScheduledTime.date}}</span>
          <span id="final">
            <span>FINAL</span>
          </span>
        </div>
      </div>
      
      <!-- Bottom Row (All Scores Button) -->
      <div class="grid-row-33">
        <span><a id="allScoresLink" href="{{allScoresURL}}">
          <span id="allScoresSpan">{{allScoresTitle}}</span>
        </a></span>
      </div>

    </div>

    <!-- Right Column -->
    <div id="R-40" class="grid-col grid-col-40">
      
      <!-- Top Row (Name & Record) -->
      <div class="grid-row-22">
        <span id="rightTeamRecord" ng-if="gameStatus === 'past' || gameStatus === 'future'"></span>
        <span id="teamName">{{rightTeam.name}}</span>
      </div>
      
      <!-- Middle Row (Logo & Score) -->
      <div class="grid-row-45">

        <span class="score score-right" ng-if="rightTeamScore.length < 3" ng-hide="gameStatus === 'future'">{{rightTeamScore}}</span>
        <span class="triple triple-right" ng-if="rightTeamScore.length === 3" ng-hide="gameStatus === 'future'">{{rightTeamScore}}</span>
        
        <span class="teamLogo" ng-class="{largeLogo: gameStatus === 'future'}"><img src={{rightTeam.logo}} /></span>
      </div>
      
      <!-- Bottom Row (Ball Possession) -->
      <div class="grid-row-33">
        <span id="possession" ng-if="gameStatus === 'live'"></span>
      </div>
    </div>

  </div>
</nav>

<div id="topicDetails" class="row" style="width=40%"> 
  <div>
    <b>{{topicTitle}}</b>
  </div>
  <div id="topicDescriptionBody">
    {{topicDescHtml}}
  </div>
  <!-- <div id="topicImage">
    <img ng-src="{{topicMediaUrl}}" class="topicPhoto" ng-click="imageClick(topicMediaUrl);" />
  </div> -->    

  <div class="topicSharingButtonsRow clearfix">
    <div class="grid-col grid-col-33">
      <div id="headLike">
        <button class="btn-link topic-social-btn" ng-click="updateLikeTopic()" ng-switch="liked">
          <img ng-switch-when="true" src="img/likeBigSelected.png"/> 
          <img ng-switch-when="false" src="img/likeBig-3x.png"/> 
        </button>
        <span class="socialButtonLabel fkFont">{{likesCount}} </span>
      </div>
    </div>
    <div class="grid-col grid-col-34">
      <div id="headComment">
        <button class="btn-link topic-social-btn" ng-click="commentOnTopic()"><img src="img/comment-3x.png"/> 
        </button>
        <span class="socialButtonLabel fkFont">{{commentsCount}}</span>
      </div>
    </div>
    <div class="grid-col grid-col-33">
      <div id="headMore">
        <button id="moreButton" class="btn-link topic-social-btn" ng-click="moreOptions()"><img src="img/ellipsis@3x.png"/> 
        </button>
      </div>
    </div>
  </div>
</div>
<div id="inputControls">
  <div class="tabContainer clearfix">
    <div id="chatTab" class="grid-col grid-col-33 tab selectedTab" ng-click="switchTabs('chat')">
      <span class="tabName">Chat</span>
    </div>
    <div id="videoTab" class="grid-col grid-col-34 tab" ng-click="switchTabs('video')">
      <span class="tabName">Video</span>
    </div>
    <div id="socialTab" class="grid-col grid-col-33 tab" ng-click="switchTabs('social')">
      <span class="tabName">Social</span>
    </div>
  </div>

  <div id="textInputFieldTopic" class="clearfix" ng-hide="activeTab !== 'chat'">
    <form id="postCommentForm" ng-submit="postComment(commentText)">
      <div id="postCommentDiv" class="input-group">
        <label for="fileUpload" id="attachMediaIcon">
          <img src="img/attach-media.png" />
        </label>

        <button id="postCommentButton" class="btn btn-default" type="button" ng-click="postComment(commentText)">POST</button>

        <span><input id="topicCommentField" type="text" class="form-control"
        placeholder="Write a comment..." ng-model="commentText"></span>

        <input id="fileUpload" filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="uploader" class="form-control" />

      </div>
    </form>
    <div id="fileWarning" ng-if="fileMaxExceeded" ng-switch="mediaType">
      <span class="text-danger" ng-switch-when="image">Image Max Size Exceeded: Please ensure file is less than 1MB</span>
      <span class="text-danger" ng-switch-when="video">Video Max Size Exceeded: Please ensure file is less than 10MB</span>
    </div>
    <div id="uploadControls" ng-if="uploader.queue.length > 0">

      <div id="preview">
        <button type="button" id="removeMedia" class="fkFont" ng-click="uploader.clearQueue()">X
        </button>
      </div>

      <div id="uploadButtons">
        <!-- <button type="button" class="btn btn-warning btn-xs" ng-click="uploader.cancelAll()" ng-if="uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button> -->
      </div>

      <div ng-if="uploader.isUploading && uploader.queue.length > 0">
      <!-- <div> -->
        <div class="progress" style="margin-bottom: 0;">
          <div id="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
        <span id="progressText">
          Uploading: {{uploader.progress}} of 100%
        </span>
      </div>
    </div>
  </div>
</div>

  <!-- Video Tab Content -->
  <!-- <div ng-switch-when="video" ng-repeat="thisPost in videoArray track by $index" ng-switch="thisPost.mediaType" class="row postRow" id="{{$index}}"> -->
  <!-- Social Tab Content -->
  <!-- <div ng-switch-when="social" ng-repeat="thisPost in socialArray track by $index" ng-switch="thisPost.mediaType" class="row postRow" id="{{$index}}"> -->
<div class="commentsContainer" ng-switch="activeTab">
  <!-- Chat Tab Content -->
  <div ng-switch-when="chat" ng-repeat="thisPost in commentsArray track by $index" ng-switch="thisPost.mediaType" class="row postRow" id="{{$index}}">

    <span class="postAuthorPhoto">
      <div>
        <a class="thumbnail">
          <img ng-src="{{thisPost.postAuthorPhoto}}" alt="" onerror="this.src='img/default_user_v3.png'" class="userPhoto">
        </a>
      </div>
      <div id="pinIcon" ng-if="thisPost.pin == true">
        <img src="img/pin.png"/>

      </div>
    </span>

    <span class="post">

      <div class="roww">
        <span class="postUsername">
          {{thisPost.postAuthorName}}
        </span>
        <span class="timestamp">
          {{thisPost.postTimestamp}}
        </span>
      </div>

      <div ng-bind-html="thisPost.html | linky" class="postContent">
        {{thisPost.html}} 
      </div>

      <div ng-switch-when="image">
        <img ng-src="{{thisPost.mediaUrl}}" class="postPhoto" ng-click="imageClick(thisPost.mediaUrl);" />
      </div>

      <div ng-switch-when="video">
        <video controls="controls" poster="{{thisPost.mediaThumbUrl}}" class="postVideo">
          <source ng-src="{{trustSrc(thisPost.mediaUrl)}}" type="video/mp4">
          </video>
        </div>  

        <div class="socialButtonsRow">
          <button class="btn-link social-btn" ng-click="updateLikeComment(thisPost.id)" ng-switch="thisPost.isLiked">
            <img ng-switch-when="true" src="img/likeSmallSelected.png"/> 
            <img ng-switch-when="false" src="img/likeSmall.png"/> 
            
          </button>
          <span class="socialButtonLable">{{thisPost.likeCount}}  </span>

          <button class="btn-link social-btn" ng-click="goToRepliesWithKeyboardTriggered(thisPost.id)">
            <img src="img/replySmall.png"/> </button>
            <span class="socialButtonLable"> {{thisPost.replyCount}}</span>
          </div>
          <div class="sharingButtonsRow">
            <div class="btn-group">
              <button class="btn-link social-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="moreButtonTapped();">
                <img src="img/moreButton.png"/>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" ng-switch="thisPost.isMyComment">

                <li ng-switch-when="true"><a ng-click="deleteComment(thisPost.id);">Delete Comment</a></li>
                <li ng-switch-when="false"><a ng-click="reportCommentAsSpam(thisPost.id);">Report as spam</a></li>
              </ul>
            </div>
          </div>
          
        </span>
      </div>
  <!-- Social Tab Content -->
  <div ng-switch-when="social" ng-repeat="thisPost in socialArray track by $index" ng-switch="thisPost.mediaType" class="row postRow" id="{{$index}}">

    <span class="postAuthorPhoto">
      <div>
        <a class="thumbnail">
          <img ng-src="{{thisPost.postAuthorPhoto}}" alt="" onerror="this.src='img/default_user_v3.png'" class="userPhoto">
        </a>
      </div>
      <div id="pinIcon" ng-if="thisPost.pin == true">
        <img src="img/pin.png"/>

      </div>
    </span>

    <span class="post">

      <div class="roww">
        <span class="postUsername">
          {{thisPost.postAuthorName}}
        </span>
        <span class="timestamp">
          {{thisPost.postTimestamp}}
        </span>
      </div>

      <div ng-bind-html="thisPost.html | linky" class="postContent">
        {{thisPost.html}} 
      </div>

      <div ng-switch-when="image">
        <img ng-src="{{thisPost.mediaUrl}}" class="postPhoto" ng-click="imageClick(thisPost.mediaUrl);" />
      </div>

      <div ng-switch-when="video">
        <video controls="controls" poster="{{thisPost.mediaThumbUrl}}" class="postVideo">
          <source ng-src="{{trustSrc(thisPost.mediaUrl)}}" type="video/mp4">
          </video>
        </div>  

        <div class="socialButtonsRow">
          <button class="btn-link social-btn" ng-click="updateLikeComment(thisPost.id)" ng-switch="thisPost.isLiked">
            <img ng-switch-when="true" src="img/likeSmallSelected.png"/> 
            <img ng-switch-when="false" src="img/likeSmall.png"/> 
            
          </button>
          <span class="socialButtonLable">{{thisPost.likeCount}}  </span>

          <button class="btn-link social-btn" ng-click="goToRepliesWithKeyboardTriggered(thisPost.id)">
            <img src="img/replySmall.png"/> </button>
            <span class="socialButtonLable"> {{thisPost.replyCount}}</span>
          </div>
          <div class="sharingButtonsRow">
            <div class="btn-group">
              <button class="btn-link social-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="moreButtonTapped();">
                <img src="img/moreButton.png"/>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" ng-switch="thisPost.isMyComment">

                <li ng-switch-when="true"><a ng-click="deleteComment(thisPost.id);">Delete Comment</a></li>
                <li ng-switch-when="false"><a ng-click="reportCommentAsSpam(thisPost.id);">Report as spam</a></li>
              </ul>
            </div>
          </div>
          
        </span>
      </div>
    </div>

<!--  <footer class="footer" id="textEntryField">
        <form ng-submit="postComment(commentText)">
        <div class="input-group">
            <input id="topicCommentField" type="text" class="form-control" placeholder="Write a comment..." ng-model="commentText" style="display:inline; positon:absolute; top:50px; right: 5%;" >
            <span class="input-group-btn">
              <button id="postCommentButton" class="btn btn-default" type="button" ng-click="postComment(commentText)">Post</button>
            </span>
        </div>
      </form>
    </footer> -->
    <hr>
  </section>

  <div id="newCommentsAvailableIndicatorDiv" ng-show="showNewCommentsIndicator">
    <center>
      <button id="newCommentsAvailableIndicatorButton" class="btn-link" ng-click="newCommentsIndicatorTapped()"><img src="img/newCommentIndicator.png"/></button>
    </center>
  </div>


