<div id="textInputFieldTopic" class="clearfix" ng-if="activeTab === 'chat' && mobileBrowser === false" ng-controller="UserInputController as user">
  <div id="preview" ng-if="user.uploader.queue.length > 0">
    <button type="button" id="removeMedia" class="fkFont" ng-click="user.removeMedia()">X
    </button>
  </div>
  <div id="uploadControls" ng-if="user.uploader.isUploading && user.uploader.queue.length > 0">
      <div class="progress" style="margin-bottom: 0;">
        <div id="progress-bar" role="progressbar" ng-style="{ 'width': user.uploader.progress + '%' }"></div>
      </div>
  </div>
  <form id="postCommentForm" ng-submit="user.postComment(commentText, true)">
    <div id="postCommentDiv" class="input-group">
      <label for="fileUpload" id="attachMediaIcon">
        <img ng-src="img/attach-media.png" />
      </label>

      <button id="postCommentButton" class="btn btn-default" type="button" ng-click="user.postComment(commentText, true)">Post</button>

      <span><input id="topicCommentField" type="text" class="form-control"
      placeholder="Write a comment..." ng-model="commentText" ng-focus="user.highlightPost()" ng-blur="user.unhighlightPost()"></span>

      <input id="fileUpload" filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="user.uploader" class="form-control" />

    </div>
  </form>
  <div class="fileWarning" ng-if="user.fileMaxExceeded" ng-switch="user.mediaType">
    <span class="text-danger" ng-switch-when="image">Image Max Size Exceeded: Please ensure file is less than 5MB</span>
    <span class="text-danger" ng-switch-when="video">Video Max Size Exceeded: Please ensure file is less than 10MB</span>
  </div>
  <div class="fileWarning" ng-if="user.HTML5warning === true">
    <span class="text-danger">Please Use a Browser That Supports HTML5</span>
  </div>
</div>