/*
 * Forum CSS
 *
 */


 /* Page-level / body */

 body
{ 
    padding-top: 7em; 
    background-color:#EEEEEE;
    padding-bottom:5em;
}

.container
{
	background-color: white;
}


/* Header / Nav Bars */

#header
{
	height: 7em;
	text-align:center;
	/*background-color:red;*/
	color:white;
}


/* Score Card */

#scoreCardCanvas
{
	text-align:center;
	/*background-color:black;*/
	color:white;
	float:left;
}

#scoreCardContent
{
	width:100%;
	height:100%;
	position:absolute;
	/*background-color:gray;*/
}

#scoreCardTitlesRow
{
	/*background:rgba(0, 0, 0, 0.3);*/
	/*margin:5px;*/
	height:25%;
}

#scoreCardDataRow
{
	/*background-color:rgba(0, 0, 0, 0.3);*/
	/*width:100%;*/
	/*margin:5px;*/
	height:75%;
}

#leftTeamSpan
{
	width:50%;
	float:left;
	font-size:1.3em;
}


#rightTeamSpan
{
	width:50%;
	float:right;
	font-size:1.3em;
}


#leftTeamLogo
{
	width:25%;
	height:80%;
	float:left;
	/*background-color:rgba(255, 255, 255, 0.3);*/
	/*margin:5px;*/
	text-align: right;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#leftTeamScore
{
	width:15%;
	height:80%;
	float:left;
	font-size:2.5em;
	/*background-color:rgba(255, 255, 0, 0.3);*/
	margin-bottom:10px;
	line-height:160%;
	text-align: right;
	/*margin:5px;*/
	/*display: table-cell; */
	/*vertical-align: middle*/
}


.teamLogo
{
	max-width:50%;
	vertical-align: middle;
	text-align: right;
}

#gameTime
{
	float:left;
	/*background-color:rgba(255, 255, 255, 0.3);*/
	width:20%;
	height:80%;
	font-size:1.2em;
	line-height:180%;
	/*margin:5px;*/
	vertical-align: middle;
}

#rightTeamScore
{
	width:15%;
	height:80%;
	float:left;
	font-size:2.5em;
	/*background-color:rgba(255, 255, 255, 0.3);*/
	line-height:160%;
	/*margin:5px;*/
	vertical-align: middle;
	text-align:left;
}

#rightTeamLogo
{
	width:25%;
	height:80%;
	float:left;
	/*background-color:rgba(255, 255, 255, 0.3);*/
	text-align: left;
	/*margin:5px;*/
}


/* */


#backToTopicButton
{
     vertical-align: middle
     height:100%;
}


/* Topic Details */

#topicDetails
{
	/*background-color:gray;*/
	min-height:4em;
	margin:0px;
	padding:20px;
}


/* Post */

.postRow
{
	font-size:3em;
	/*max-height:4.4em;*/
	background-color: white;
	margin:2px;
	border-bottom: 1px dotted gray;
}

.postAuthorPhoto /* left-side of each post row */
{
	width: 15%;
	float:left;
	padding:10px;
}

.post /* entire right-side of each post row */
{
	width: 85%;
	background-color: /*purple*/;
	float:right;
	min-height: 3em;
	padding:10px;
}

.postUsername
{
	font-size: 0.5em;
	float:left;
	color: rgb(166, 189, 207);
	width:80%;
	padding-left:5px;
}

.timestamp
{
	font-size: 0.5em;
	float:right;
	color: rgb(166, 189, 207);
	width:20%;
	text-align: right;
	padding-right:5px;
}

.postContent
{
	/*float:clear;*/
	/*background-color: gray;*/
	padding-left: 5px;
	padding-right: 5px;
	font-size: 0.5em;
}

.sharingButtonsRow
{
	float:right;
	padding-right:5px;
	font-size:0.8em;
	/*background-color:gray;*/
	padding-right:15px;
}


/* Text Field */

#textEntryField
{
	position:fixed;
	bottom:0;
	width:100%;
	padding:5px;
	background-color:white;
}