<img id="curry-bg-1" src="assets/images/curry-bg1.png" trigger-start="stepA" />

<div id="player-page-title">
  <span class="player-title-2">SILKY MOMENTS</span>
</div>

<img src="assets/images/under-armour.png" id="bar-sponsor" />

<div id="player-header-2">
  <span class="player-first-name">STEPH</span>
  <span class="player-last-name">CURRY</span>
</div>

<!-- Bar Graph Stats -->
<div id="bar1" class="bar" bar-up="592px" player-end="-32px" trail-end="130px" ng-if="stepA" trigger-next="stepB">
  <img id="player1" src="assets/images/player1.png" />
  <div id="trail1" class="trail"></div>
  <div class="bar-label label1">
    <span class="bar-value" count-up>30</span>
    <span class="bar-desc">POINTS PER GAME</span>
  </div>
</div>

<div id="bar2" class="bar" bar-up="720px" player-end="-64px" ng-if="stepB" trigger-next="stepC">
  <img id="player2" src="assets/images/player2.png" />
  <div id="trail2" class="trail"></div>
  <div class="bar-label label2">
    <span class="bar-value" count-up>10.1</span>
    <span class="bar-desc">FIELD GOALS<br>PER GAME</span>
  </div>
</div>

<div id="bar3" class="bar" bar-up="520px" player-end="-120px" trail-end="-20px" ng-if="stepC">
  <img id="player3" src="assets/images/player3.png" />
  <div id="trail3" class="trail"></div>
  <div class="bar-label label3">
    <span class="bar-value" count-up>5.0</span>
    <span class="bar-desc">3-POINTERS<br>PER GAME</span>
  </div>
</div>
<!-- End Bar Graph Stats -->

<!-- Secondary Stats -->
<div id="stat-2nd-label">
  <span class="pg-average">PER GAME AVERAGE</span>
</div>
<div id="stat-2nd-container">
  <div class="stat-2nd">
    <span class="stat-2nd-value">6.5</span>
    <span class="stat-2nd-desc">assists</span>
  </div>

  <div class="stat-2nd stat-2nd-middle">
    <span class="stat-2nd-value">2.2</span>
    <span class="stat-2nd-desc">steals</span>
  </div>

  <div class="stat-2nd-bottom">
    <span class="stat-2nd-value">5.4</span>
    <span class="stat-2nd-desc">rebounds</span>
  </div>
</div>
<!-- End Secondary Stats -->