<div id="bubble-container">
  <img id="curry-bg-2" ng-src="assets/images/curry-bg2.png" player-enter />

  <div id="player-header" fade-in-shift="top" fade-end="45px">
    <span class="player-name">STEPH CURRY</span>
    <span class="player-title">SOCIAL STATISTICS</span>
  </div>

  <div id="ring-filter" rotate-fade-in="1080" fade-dur="8000" ng-if="startRing"></div>
  <div id="ring-center"></div>
  <div id="ring1" rotate-fade-in="720" fade-dur="6000" ng-if="startRing"></div>
  <div id="ring2" rotate-fade-in="720" fade-dur="6000" ng-if="startRing"></div>

  <div id="line1" class="line"></div>
  <div id="line2" class="line"></div>
  <div id="line3" class="line"></div>
  <div id="line4" class="line"></div>

  <!-- Bubble Stats -->
  <div id="circle1fixedback"></div>
  <div id="circle1fixed"></div>
  <div id="circle1">
    <div class="stat1">
      <span class="stat-num1">40</span>
      <span class="stat-desc1">TWEETS PER MINUTE</span>
    </div>
  </div>
  <div id="circle1a"></div>
  <div id="circle1b" class="pie big" data-start="-25" data-value="232"></div>
  <!-- <div id="circle1bscreen" class="pie big screen" data-start="27" data-value="1" anim-class="special"></div> -->
  <div id="circle2">
    <div class="stat2">
      <span class="stat-num2">619</span>
      <span class="stat-desc2">MENTIONS PER HOUR</span>
    </div>
  </div>
  <div id="circle2fixed"></div>
  <div id="circle2a"></div>
  <div id="circle2b"></div>
  <div id="circle3">
    <div class="stat3">
      <span class="stat-num3">9</span>
      <span class="stat-desc3">SOCIAL RANK</span>
    </div>
  </div>
  <div id="circle3fixed"></div>
  <div id="circle3a"></div>
  <div id="circle3b"></div>
  <!-- End Bubble Stats -->

  <div id="fan-sentiment" ng-if="startRing">
    <span class="fan-desc">FAN SENTIMENT</span>
    <img ng-src="assets/images/thumbsUp.png" id="thumbsUp" />
    <img ng-src="assets/images/thumbsDown.png" id="thumbsDown" />
    <div class="meter-back">
      <div class="meter-pos"></div>
      <div class="meter-neg"></div>
    </div>
  </div>

  <div id="pace-year" ng-if="startRing">
    <span class="pace-desc">TOTAL MENTIONS&nbsp;</span>
    <span class="pace-value">5,128,234</span>
  </div>
  
</div>

<div id="tweet-bubble" ng-if="psocial.showExpandedTweet" show-tweet-content="text" s-size="410px" s-top="400px" s-left="742px" expires="13000">
  <div class="tweet-ring tweet-ring5">
    <div class="tweet-ring tweet-ring4">
      <div class="tweet-ring tweet-ring3">
      <div class="tweet-ring tweet-ring3filter">
        <div class="tweet-ring tweet-ring2" ng-class="{ 'slow-rotate': textLoaded }">
        </div>
        <div class="tweet-ring tweet-ring1">
          <expanded-tweet this-tweet="psocial.currentContent" ng-if="textLoaded"></expanded-tweet>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div id="tweet-bubble" ng-if="psocial.showExpandedImage" show-tweet-content="text" s-size="290px" s-top="285px" s-left="1235px" expires="13000">
  <div class="tweet-ring tweet-ring5">
    <div class="tweet-ring tweet-ring4">
      <div class="tweet-ring tweet-ring3">
      <div class="tweet-ring tweet-ring3filter">
        <div class="tweet-ring tweet-ring2" ng-class="{ 'slow-rotate': textLoaded }">
        </div>
        <div class="tweet-ring tweet-ring1">
          <expanded-tweet this-tweet="psocial.currentContent" ng-if="textLoaded"></expanded-tweet>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div id="tweet-bubble" ng-if="psocial.showExpandedVideo" show-tweet-content="text" s-size="230px" s-top="400px" s-left="1630px" expires="13000">
  <div class="tweet-ring tweet-ring5">
    <div class="tweet-ring tweet-ring4">
      <div class="tweet-ring tweet-ring3">
      <div class="tweet-ring tweet-ring3filter">
        <div class="tweet-ring tweet-ring2" ng-class="{ 'slow-rotate': textLoaded }">
        </div>
        <div class="tweet-ring tweet-ring1">
          <expanded-tweet this-tweet="psocial.currentContent" ng-if="textLoaded"></expanded-tweet>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
