<div id="header">
  <span id="team-logo">
    <img src="team-logo-bruins.png" />
  </span>
  <span id="team-title">BRUINS SOCIAL WALL</span>
  <span id="team-hashtag">#NHLBRUINS</span>
</div>

<div class="container clearfix">

  <div class="grid-col col-left">
    <div class="card card-text">
      <div class="card-header twttr-header">
        <span class="author">
          <span>@JOHNDOE</span>
        </span>
        <span class="twttr-provider">
          <img class="provider-logo" src="twttr-logo.png" />
        </span>
      </div>
    </div>
    <div class="card card-text">
      <div class="card-header twttr-header">
        <span class="author">
          <span>@JOHNDOE</span>
        </span>
        <span class="twttr-provider">
          <img class="provider-logo" src="twttr-logo.png" />
        </span>
      </div>
    </div>
    <div class="card card-text">
      <div class="card-header twttr-header">
        <span class="author">
          <span>@JOHNDOE</span>
        </span>
        <span class="twttr-provider">
          <img class="provider-logo" src="twttr-logo.png" />
        </span>
      </div>
    </div>
  </div>

  <div class="grid-col col-mid">
    <div class="card card-text">
      <div class="card-header fbook-header">
        <span class="author white">
          <span>@JOHNDOE</span>
        </span>
        <span class="fbook-provider">
          <img class="provider-logo" src="fbook-logo.png" />
        </span>
      </div>
    </div>
    <div class="card card-text">
      <div class="card-header fbook-header">
        <span class="author white">
          <span>@JOHNDOE</span>
        </span>
        <span class="fbook-provider">
          <img class="provider-logo" src="fbook-logo.png" />
        </span>
      </div>
    </div>
    <div class="card card-text">
      <div class="card-header fbook-header">
        <span class="author white">
          <span>@JOHNDOE</span>
        </span>
        <span class="fbook-provider">
          <img class="provider-logo" src="fbook-logo.png" />
        </span>
      </div>
    </div>
  </div>

  <div class="grid-col col-right">
    <div class="card card-media">
      <div class="card-header insta-header">
        <span class="author white">
          <span>@JOHNDOE</span>
        </span>
        <span class="insta-provider">
          <img class="provider-logo" src="insta-logo.png" />
        </span>
      </div>
    </div>
    <div class="card card-media">
      <div class="card-header insta-header">
        <span class="author white">
          <span>@JOHNDOE</span>
        </span>
        <span class="insta-provider">
          <img class="provider-logo" src="insta-logo.png" />
        </span>
      </div>
    </div>
  </div>

</div>