
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: #000;
}

body {
  height: 1080px;
  width: 1920px;
  margin: 0 auto;
  position: relative;
  font-family: "Roboto","SFUIDisplay","Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow: hidden;
}

.bubble-stats {
  background-image: url('../assets/images/bubble-stats-bg.png');
  background-size: cover;
}

.bar-stats {
  background-image: url('../assets/images/player-stats-prog.jpg');
  background-size: cover;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* * * Fonts * * */
@font-face {
  font-family: BuiltTitlingReg;
  src: url("../assets/fonts/builtTitling.ttf") format('truetype');
}


/* * * Bubble Stat Screen * * */
#bubble-container {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: BuiltTitlingReg;
}

#stats-container {
  font-family: 'Coda';
}

#curry-bg-2 {
  position: absolute;
  left: -700px;
  bottom: 0;
  z-index: 4;
}

#ring-filter {
  position: absolute;
  width: 800px;
  height: 796px;
  left: 108px;
  top: 200px;
  background: -webkit-linear-gradient(right, rgba(249,158,36,0.2), rgba(249,158,36,1));
  background: linear-gradient(to left, rgba(249,158,36,0.2), rgba(249,158,36,1));
  border-radius: 50%;
  z-index: 3;
}

#ring1 {
  position: absolute;
  width: 696px;
  height: 696px;
  left: 161px;
  top: 252px;
  background-color: #fff;
  /*background: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,0.8));*/
  border-radius: 50%;
  border: 1px solid rgb(249,158,36);
  z-index: 1;
}

#ring2 {
  position: absolute;
  width: 796px;
  height: 796px;
  left: 110px;
  top: 200px;
  background-color: #fff;
  /*background: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,0.8));*/
  border-radius: 50%;
}

#ring-center {
  position: absolute;
  width: 584px;
  height: 584px;
  left: 216px;
  top: 306px;
  background-color: rgb(249,158,36);
  border-radius: 50%;
  z-index: 2;
}

#circle1 {
  position: absolute;
  width: 410px;
  height: 410px;
  background-color: rgb(249,158,36);
  background: -webkit-radial-gradient(circle, rgb(249,158,36) 60%, rgb(255,255,255) 100%);
  background: radial-gradient(circle, rgb(249,158,36) 60%, rgb(255,255,255) 100%);
  border-radius: 50%;
  left: 742px;
  top: 400px;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: cover;
  z-index: 5;
}

#circle1fixed {
  position: absolute;
  width: 410px;
  height: 410px;
  background-color: rgb(249,158,36);
  border-radius: 50%;
  left: 742px;
  top: 400px;
  z-index: 5;
}

#circle1fixedback {
  position: absolute;
  width: 490px;
  height: 490px;
  background-color: rgb(249,158,36);
  border-radius: 50%;
  left: 702px;
  top: 360px;
  z-index: 4;
}

#circle1a {
  position: absolute;
  width: 490px;
  height: 490px;
  background-color: #fff;
  border-radius: 50%;
  left: 702px;
  top: 360px;
  clip: rect(0px, 164px, 490px, 0px);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 4;
}

#ring1,
#ring2,
#ring-filter,
#circle1,
#circle1a,
#circle1b,
#circle2,
#circle2a,
#circle2b,
#circle3,
#circle3a,
#circle3b {
  opacity: 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1,1);
  }
  25% {
    -webkit-transform: scale(1.1,1.1);
  }
  50% {
    -webkit-transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
  25% {
    -webkit-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);
  }
  50% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
}

.pulse {
  -webkit-animation: pulse 1s ease-in-out 4;
  animation: pulse 1s ease-in-out 4;
}


/* * * Unique Ring Type * * */
.pie {
  position:absolute;
  width:245px;
  height:490px;
  overflow:hidden;
  top: 360px;
  left:947px;
  z-index: 4;
  -webkit-transform-origin:left center;
  transform-origin:left center;
}

.pie::before {
  content:"";
  position:absolute;
  width:245px;
  height:490px;
  left:-245px;
  border-radius:245px 0 0 245px;
  -webkit-transform-origin:right center;
  transform-origin:right center;
  
}

.pie.big {
  width:490px;
  height:490px;
  top: 360px;
  left:702px;
  -webkit-transform-origin:center center;
  transform-origin:center center;
}

.pie.big::before {
  left:0px;
}

.pie.big::after {
  content:"";
  position:absolute;
  width:245px;
  height:490px;
  left:245px;
  border-radius:0 245px 245px 0;
  -webkit-transform-origin:left center;
  transform-origin:left center;
}

.pie::before,
.pie::after {
  background-color: #ca7629;  
}

.pie[data-start="-25"] {
  -webkit-transform: rotate(-25deg);
  transform:rotate(-25deg);
}

.pie[data-start="-25"].unique {
  -webkit-animation: spinB 1s linear 1;
  animation: spinB 1s linear 1;
}

.pie[data-start="-25"].uniqueTwo {
  -webkit-animation: spinD 2s linear 1;
  animation: spinD 2s linear 1;
}

.pie[data-value="232"]:BEFORE { /* Firefox */ /* IE */
  -webkit-transform: rotate(232deg); /* Safari and Chrome */ /* Opera */
  transform:rotate(232deg);
}

.pie[data-start="27"] {
  -webkit-transform: rotate(27deg);
  transform:rotate(27deg);
}

.pie[data-start="27"].special {
  -webkit-animation: spinC 2s linear 1;
  animation: spinC 2s linear 1;
}

.pie[data-value="1"]:BEFORE { /* Firefox */ /* IE */
  -webkit-transform: rotate(0deg); /* Safari and Chrome */ /* Opera */
  transform:rotate(0deg);
}

.pie[data-value="1"].special:BEFORE {
  -webkit-animation: spin 2s linear 1;
  animation: spin 2s linear 1;
}

.pie[data-value="1"].specialTwo:BEFORE {
  -webkit-animation: spinD 1s linear 1;
  animation: spinD 1s linear 1;
}

.screen::before,
.screen::after {
  background-color: rgb(249,158,36) !important;
  z-index: 12;
}
/* * * End Unique Ring Type * * */

/* * * Animation Filter * * */
.ring-filter-screen {
  position:absolute;
  width:245px;
  height:490px;
  overflow:hidden;
  left:367.5px;
  z-index: 12;
  -webkit-transform-origin:left center;
  transform-origin:left center;
}

.ring-filter-screen:BEFORE {
  content:"";
  position:absolute;
  width:245px;
  height:490px;
  left:-245px;
  border-radius:245px 0 0 245px;
  -webkit-transform-origin:right center;
  transform-origin:right center;
  
}

.ring-filter-screen.big {
  width:490px;
  height:490px;
  top: 360px;
  left:702px;
  -webkit-transform-origin:center center;
  transform-origin:center center;
}

.ring-filter-screen.big:BEFORE {
  left:0px;
}

.ring-filter-screen.big:AFTER {
  content:"";
  position:absolute;
  width:245px;
  height:490px;
  left:245px;
  border-radius:0 245px 245px 0;
}

.ring-filter-screen:BEFORE,
.ring-filter-screen:AFTER {
  background-color: #ca7629;  
}

.ring-filter-screen[data-start="-25"] {
  -webkit-transform: rotate(-25deg);
  transform:rotate(-25deg);
}

.ring-filter-screen[data-value="232"]:BEFORE { /* Firefox */ /* IE */
  -webkit-transform: rotate(232deg); /* Safari and Chrome */ /* Opera */
  transform:rotate(232deg);
}
/* * * End Animation Filter * * */

#circle2,
#circle2fixed {
  position: absolute;
  width: 290px;
  height: 290px;
  /*background-color: #f99e24;*/
  /*background: radial-gradient(circle, rgb(249,158,36) 60%, rgb(255,255,255) 100%);*/
  border-radius: 50%;
  left: 1235px;
  top: 285px;
}

#circle2a {
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fff;
  border-radius: 50%;
  left: 1200px;
  top: 250px;
  clip: rect(0px, 220px, 360px, 0px);
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

#circle2b {
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #314566;
  border-radius: 50%;
  left: 1200px;
  top: 250px;
  clip: rect(0px, 360px, 360px, 220px);
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

#circle3,
#circle3fixed {
  position: absolute;
  width: 230px;
  height: 230px;
  /*background-color: #f99e24;*/
  border-radius: 50%;
  left: 1630px;
  top: 400px;
}

#circle2,
#circle3 {
  background: -webkit-radial-gradient(circle, rgb(249,158,36) 60%, rgb(255,255,255) 100%);
  background: radial-gradient(circle, rgb(249,158,36) 60%, rgb(255,255,255) 100%);
}

#circle2fixed,
#circle3fixed {
  background-color: rgb(249,158,36);
}

#circle2,
#circle3 {
  z-index: 2;
}

#circle2fixed,
#circle3fixed {
  z-index: 1;
}

#circle3a {
  position: absolute;
  width: 290px;
  height: 290px;
  background-color: #fff;
  border-radius: 50%;
  left: 1600px;
  top: 370px;
  clip: rect(0px, 145px, 290px, 0px);
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

#circle3b {
  position: absolute;
  width: 290px;
  height: 290px;
  background-color: #ca7629;
  border-radius: 50%;
  left: 1600px;
  top: 370px;
  clip: rect(0px, 290px, 290px, 145px);
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

#controls {
  position: fixed;
  bottom: 0;
  left: 885px;
}

button {
  width: 50px;
  height: 50px;
}

#btn1 {
  background-color: #fff;
}

#btn2 {
  background-color: #314566;
}

#btn3 {
  background-color: #ca7629;
}

.stat1 {
  position: relative;
  text-align: center;
  font-weight: 900;
  top: 60px;
}

.stat-num1 {
  font-size: 300px;
  display: block;
  line-height: 0.8;
  color: #314566;
}

.stat-desc1 {
  font-size: 40px;
  color: #fff;
}

.stat2 {
  position: relative;
  text-align: center;
  font-weight: 900;
  color: #fff;
  top: 50px;
}

.stat-num2 {
  font-size: 200px;
  display: block;
  line-height: 0.8;
}

.stat-desc2 {
  font-size: 32px;
}

.stat3 {
  position: relative;
  text-align: center;
  font-weight: 900;
  color: #fff;
  top: 30px;
}

.stat-num3 {
  font-size: 160px;
  display: block;
  line-height: 0.8;
  color: #314566;
}

.stat-desc3 {
  font-size: 32px;
}

.stat1,
.stat2,
.stat3 {
  z-index: 2;
}

#player-header {
  position: absolute;
  /*top: 45px;*/
  top: 200px;
  left: 645px;
  width: 1235px;
  height: 125px;
  text-align: left;
  font-weight: 700;
  font-size: 140px;
  line-height: 125px;
  opacity: 0;
}

.player-name {
  color: #314566;
}

.player-title {
  color: #fff;
}

#fan-sentiment {
  position: absolute;
  width: 685px;
  height: 100px;
  top: 720px;
  right: 0px;
  background-color: #fdbc6d;
  /*text-align: center;*/
  font-size: 48px;
  font-weight: 500;
  line-height: 100px;
  padding-left: 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 15px 10px #ca7629;
}

#thumbsUp {
  position: relative;
  z-index: 1;
  left: 20px;
  top: -3px;
}

#thumbsDown {
  position: relative;
  z-index: 1;
  left: 390px;
  top: -3px;
}

.meter-back {
  position: absolute;
  display: inline-block;
  width: 450px;
  height: 60px;
  background-color: #314566;
  top: 20px;
  right: 0;
}

.meter-pos {
  position: absolute;
  display: inline-block;
  /*width: 225px;*/
  width: 0px;
  height: 60px;
  background-color: #e4e4e4;
  /*background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(253,253,253,1) 35%, rgba(165,165,165,1) 100%);*/
  /*background: linear-gradient(rgba(255,255,255,1) 0%, rgba(253,253,253,1) 35%, rgba(165,165,165,1) 100%);*/
  left: 0;
}

.meter-neg {
  position: absolute;
  display: inline-block;
  width: 450px;
  height: 60px;
  background-color: #e4e4e4;
  background: -webkit-linear-gradient(rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.3) 35%, rgba(255,255,255,0) 100%);
  background: linear-gradient(rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.3) 35%, rgba(255,255,255,0) 100%);
  left: 0px;
}

.fan-desc {
  color: #ca7629;
}

.record-value {
  color: #fff;
}

#pace-year {
  position: absolute;
  width: 640px;
  height: 75px;
  top: 970px;
  left: 340px;
  text-align: center;
  line-height: 1;
  z-index: 4;
  opacity: 0;
}

.pace-desc {
  display: inline-block;
  color: #fff;
  font-family: BuiltTitlingReg;
  font-size: 80px;
}

.pace-value {
  display: inline-block;
  color: #f99e24;
  font-family: BuiltTitlingReg;
  font-size: 80px;
}

#sponsor-image {
  position: absolute;
  height: 80px;
  bottom: 25px;
  right: 70px;
  opacity: 0;
}

#sponsor {
  position: absolute;
  color: #fff;
  font-size: 22px;
  font-family: "Roboto","SFUIDisplay","Helvetica Neue",Helvetica,Arial,sans-serif;
  bottom: 105px;
  right: 220px;
  opacity: 0;
}

.social-logo {
  position: absolute;
  z-index: 4;
}

#twitter {
  width: 100px;
  left: 257px;
  bottom: 20px;
  opacity: 0;
}

#facebook {
  width: 75px;
  left: 155px;
  bottom: 38px;
  opacity: 0;
}

.sponsor-text {
  color: #fff;
  font-size: 21px;
}

.line {
  position: absolute;
  height: 2px;
}

#line1,
#line4 {
  background-color: #fff;
}

#line2,
#line3 {
  background-color: #ca7629;
}

#line1 {
  width: 1360px;
  left: 560px;
  top: 205px;
}

#line2 {
  width: 1270px;
  left: 650px;
  top: 225px;
}

#line3 {
  width: 1137px;
  left: 783px;
  top: 885px;
}

#line4 {
  width: 1160px;
  left: 760px;
  top: 905px;
}

#tweet-container {
  position: relative;
  width: 1130px;
  height: 745px;
  /*top: 45%;*/
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  opacity: 0;
  z-index: 2;
}
.tweet-pad {
  padding: 36px;
}

.tweet-B {
  position: absolute !important;
  z-index: 32 !important;
}

#tweet-bubble {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 30;
  border-radius: 50%;
  background-color: #314566;
  opacity: 1;
  overflow: hidden;
}

.tweet-ring {
  position: relative;
  border-radius: 50%;
  top: 50%;
  left: 50%;
}

.tweet-ring5 {
  width: 1870px;
  height: 1870px;
  background-color: rgb(249,157,35);
  background: -webkit-linear-gradient(rgb(249,157,35) 0%, rgb(249,157,35) 30%, #fff 70%);
  background: linear-gradient(rgb(249,157,35) 0%, rgb(249,157,35) 30%, #fff 70%);
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.tweet-ring4 {
  width: 1836px;
  height: 1836px;
  background-color: rgb(249,157,35);
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.tweet-ring3 {
  width: 1508px;
  height: 1508px;
  background-color: rgb(249,157,35);
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.tweet-ring3filter {
  width: 1508px;
  height: 1508px;
  background-color: #fff;
  background: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0.2) 100%);
  background: linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0.2) 100%);
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

@-webkit-keyframes slowRotate {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes slowRotate {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.tweet-ring2 {
  position: absolute;
  width: 1368px;
  height: 1368px;
  border-radius: 50%;
  background-color: #fff;
  background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,0.6) 75%, rgba(255,255,255,0.2) 100%);
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,0.6) 75%, rgba(255,255,255,0.2) 100%);
  top: 70px;
  left: 70px;
}

.slow-rotate {
  -webkit-animation: slowRotate 10s linear infinite;
  animation: slowRotate 10s linear infinite;
}

.tweet-ring1 {
  width: 1156px;
  height: 1156px;
  background-color: #fff;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.tweet-profile {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  float: left;
}

.tweet-user {
  float: left;
  position: relative;
  margin-left: 25px;
  top: 24px;
}

.tweet-name {
  color: #1d1d1d;
  font-weight: 700;
  font-size: 42px;
}

.verified-icon {
  width: 60px;
  float: right;
  padding-left: 10px;
}

.tweet-handle {
  display: block;
  color: #b3b8ba;
  font-size: 38px;
  font-weight: 300;
}

.tweet-body {
  padding-top: 70px;
  border-bottom: 1px solid #b3b8ba;
}

.tweet-text {
  word-wrap: break-word;
  color: #1d1d1d;
  font-weight: 300;
  font-size: 58px;
}

.metrics-label,
.tweet-timestamp {
  color: #b3b8ba;
  font-size: 38px;
  font-weight: 400;
}

.metrics-label {
  margin-right: 20px;
}

.tweet-timestamp {
  display: inline-block;
  padding: 28px 0px;
}

.metrics-value {
  color: #1d1d1d;
  font-size: 38px;
  font-weight: 500;
  padding-right: 5px;
}

.tweet-metrics {
  padding: 28px 0px;
}

#imageContainer {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%,0%);
          transform: translate(-50%,0%);
}

#tweetVideo {
  position: relative;
  width: 1280px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

#tweetImage {
  width: 800px;
  margin-top: 20px;
}

.image-tweet-user {
  position: relative;
  float: left;
  margin-left: 20px;
}

.image-tweet-profile {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float: left;
}

.image-tweet-text {
  word-wrap: break-word;
  color: #1d1d1d;
  font-weight: 400;
  font-size: 40px;
}

#videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

#video-bg {
  position: absolute;
  width: 2200px;
  height: 100%;
  left: -400px;
  background-color: #000;
  opacity: 0;
  z-index: 1;
}

#video-bgB,
#video-bgC {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0px;
  left: 0px;
  background-color: #000;
  opacity: 0;
  z-index: 31;
}


/* * * Bar Stat Screen * * */
#curry-bg-1 {
  position: absolute;
  z-index: 1;
}

.bar {
  position: absolute;
  width: 160px;
  text-align: center;
  bottom: 0;
}

#bar1 {
  background-color: rgb(0,102,204);
  background: -webkit-linear-gradient(left, rgba(0,102,204,0.8) 0%, rgba(0,102,204,0.8) 5%,  rgba(255,255,255,0.5) 15%, rgba(0,102,204,0.8) 25%, rgba(0,102,204,0.8) 100%);
  background: linear-gradient(to right, rgba(0,102,204,0.8) 0%, rgba(0,102,204,0.8) 5%,  rgba(255,255,255,0.5) 15%, rgba(0,102,204,0.8) 25%, rgba(0,102,204,0.8) 100%);
  height: 0px;
  left: 600px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  visibility: hidden;
}

#bar2 {
  background-color: rgb(255,153,51);
  background: -webkit-linear-gradient(left, rgba(255,153,51,1) 0%, rgba(204,102,0,1) 5%, rgba(204,102,0,1) 10%, rgba(255,153,102,1) 15%, rgba(204,102,0,1) 20%, rgba(255,153,51,1) 100%);
  background: linear-gradient(to right, rgba(255,153,51,1) 0%, rgba(204,102,0,1) 5%, rgba(204,102,0,1) 10%, rgba(255,153,102,1) 15%, rgba(204,102,0,1) 20%, rgba(255,153,51,1) 100%);
  height: 0px;
  left: 795px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  visibility: hidden;
}

#bar3 {
  background-color: rgba(0,102,204,1);
  background: -webkit-linear-gradient(left, rgba(0,102,204,0.7) 0%, rgba(0,102,204,0.7) 5%,  rgba(255,255,255,0.5) 15%, rgba(0,102,204,0.7) 25%, rgba(0,102,204,0.7) 100%);
  background: linear-gradient(to right, rgba(0,102,204,0.7) 0%, rgba(0,102,204,0.7) 5%,  rgba(255,255,255,0.5) 15%, rgba(0,102,204,0.7) 25%, rgba(0,102,204,0.7) 100%);
  height: 0px;
  left: 990px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  visibility: hidden;
}

#trail1 {
  position: relative;
  width: 50px;
  height: 200px;
  top: 440px;
  left: 55px;
  background-color: rgba(255,255,255,0.8);
  background: -webkit-linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0));
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0));
}

#player1,
#player2,
#player3 {
  position: absolute;
  z-index: 1;
}

#player1 {
  top: 350px;
  left: 32px;
}

#player2 {
  top: 500px;
  left: 5px;
}

#player3 {
  top: 270px;
  left: 26px;
}

#trail2 {
  position: relative;
  width: 55px;
  height: 320px;
  top: 565px;
  left: 35px;
  background-color: rgba(255,255,255,0.8);
  background: -webkit-linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0));
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0));
}

#trail3 {
  position: relative;
  width: 40px;
  height: 400px;
  top: 370px;
  left: 60px;
  background-color: rgba(255,255,255,0.8);
  background: -webkit-linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0));
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0));
}

.bar-label {
  position: relative;
  width: 100%;
  height: 110px;
  text-align: center;
  color: #fff;
}

.label1 {
  top: 450px;
}

.label2 {
  top: 520px;
}

.label3 {
  top: 210px;
}

#bar1assets {
  position: absolute;
  width: 160px;
  top: 875px;
  left: 600px;
  z-index: 1;
  visibility: hidden;
}

#bar2assets {
  position: absolute;
  width: 160px;
  top: 740px;
  left: 795px;
  z-index: 1;
  visibility: hidden;
}

#bar3assets {
  position: absolute;
  width: 160px;
  top: 940px;
  left: 990px;
  z-index: 1;
  visibility: hidden;
}

.bar-value {
  display: block;
  font-family: 'Khand';
  font-weight: 400;
  font-size: 120px;
  line-height: 0.9;
}

.bar-desc {
  font-family: 'Khand';
  font-weight: 400;
  font-size: 30px;
}

#stat-2nd-container {
  position: absolute;
  width: 605px;
  height: 407px;
  top: 540px;
  /*left: 1315px;*/
  left: 1930px;
  opacity: 0;
}

.stat-2nd {
  position: relative;
  width: 100%;
  height: 135px;
}

.stat-2nd-middle {
  border-top: 1px solid #28c3f8;
  border-bottom: 1px solid #28c3f8;
}

.stat-2nd {
  position: relative;
  width: 100%;
  height: 137px;
}

.stat-2nd-value {
  position: relative;
  display: inline-block;
  color: #fcb03c;
  font-size: 80px;
  font-weight: 100;
  line-height: 137px;
}

.stat-2nd-desc {
  position: relative;
  display: inline-block;
  float: right;
  color: #fff;
  font-size: 48px;
  font-weight: 100;
  line-height: 130px;
  top: 10px;
  right: 100px;
}

#stat-2nd-label {
  position: absolute;
  width: 605px;
  height: 30px;
  top: 470px;
  /*left: 1315px;*/
  left: 1930px;
  color: #fcb03c;
  font-size: 54px;
  font-weight: 400;
  opacity: 0;
}

#player-header-2 {
  position: absolute;
  width: 710px;
  height: 190px;
  top: 150px;
  left: 850px;
  line-height: 0.75;
  font-family: 'Play';
}

.player-first-name {
  position: relative;
  color: rgb(255,153,51);
  font-size: 100px;
  font-weight: 400;
}

.player-last-name {
  position: relative;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
}

/*.player-first-name {
  position: relative;
  display: block;
  color: rgb(255,153,51);
  font-size: 85px;
  font-weight: 100;
}

.player-last-name {
  position: relative;
  color: #fff;
  font-size: 120px;
  font-weight: 200;
}*/

#player-page-title {
  position: absolute;
  width: 720px;
  height: 72px;
  top: 230px;
  left: 850px;
}

.player-title-2 {
  position: relative;
  color: #27aae1;
  font-size: 50px;
  line-height: 72px;
}

/*#player-page-title {
  position: absolute;
  width: 720px;
  height: 48px;
  top: 72px;
  left: 910px;
}

.player-title-2 {
  position: relative;
  color: #808282;
  font-size: 48px;
  font-weight: 100;
}*/

#bar-sponsor {
  position: absolute;
  top: 157px;
  left: 1510px;
  width: 320px;
}

#sponsor-text {
  position: absolute;
  color: #808282;
  font-size: 36px;
  right: 480px;
  top: 300px;
}


/* * * Social Wall * * */
#header {
  position: fixed;
  width: 100%;
  height: 110px;
  background-color: #ffc425;
  top: 0;
  left: 0;
  padding: 0px 60px;
}

.container {
  position: relative;
  top: 110px;
  height: 970px;
}

.grid-col {
  float: left;
  position: relative;
  height: 100%;
  /*border: 2px solid #fff;*/
}

.col-left {
  width: 33.33%;
  padding-left: 25px;
  padding-right: 17.5px;
}

.col-mid {
  width: 33.34%;
  padding-left: 17.5px;
  padding-right: 17.5px;
}

.col-right {
  width: 33.33%;
  padding-left: 17.5px;
  padding-right: 25px;
}

.card {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
}

.card-text {
  height: 297px;
}

.card-media {
  height: 455px;
}

.card-header {
  position: relative;
  height: 70px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 5px #ccc;
  padding: 0 25px;
}

.twttr-header {
  background-color: #69cbf5;
}

.fbook-header {
  background-color: #3b5998;
}

.insta-header {
  background-color: #2a5b83;
}

.author {
  position: relative;
  display: inline-block;
  bottom: -5px;
  font-size: 48px;
  font-weight: bold;
  width: 475px;
}

.twttr-provider {
  float: right;
  margin-top: 10px;
}

.fbook-provider {
  float: right;
  margin-top: 6px;
}

.insta-provider {
  float: right;
  margin-top: 8px;
}

.white {
  color: #fff;
}

#team-logo,
#team-title,
#team-hashtag {
  display: inline-block;
  position: relative;
  font-size: 75px;
  font-weight: bold;
  vertical-align: middle;
}

#team-logo {
  margin-right: 40px;
}

#team-hashtag {
  float: right;
  margin-top: 10px;
}
