<!-- Facebook Login -->
<section ng-if="facebookUser">
  <div id="landingContainer">
    <img id="landingGraphic" src="img/facebookLoginPage_bkgd-2x.jpg" />
    <div ng-switch="showFacebookButton">
      <span ng-switch-when="true">
        <img ng-src="img/FacebookLoginButton-2x.png" id="facebookButton" ng-click="loginToFacebook()" />
      </span>
      <span ng-switch-when="false">
        <img ng-src="img/load-spinner.gif" id="facebookSpinner" />
      </span>
    </div>
  </div>
</section>
<!-- Tech MI16 Login -->
<section ng-if="mUserType === 'MI16' || mUserType === 'MWC'" id="techPage">
  <div id="techLoginContainer" ng-switch="mUserType">

    <div id="techLoginHeader" ng-switch-when="MI16">
      <h1>MI16</h1>
      <h3>Mission Innovation</h3>
      <h4>Tech Mahindra</h4>
    </div>
    <div id="techLoginHeader" ng-switch-when="MWC">
      <h1>MI16</h1>
      <h3>Mission Innovation</h3>
      <h4>Tech Mahindra</h4>
    </div>

    <div id="techLogin">

      <span id="formInstruct">Log in by providing your name and email</span>
      <form id="techLoginForm" name="techMForm" ng-submit="techMLogin(name,email,techMForm.$valid)" novalidate autocomplete="off">

        <div>
          <input type="text" name="name" ng-class="{ 'has-error' : techMForm.name.$invalid && !techMForm.name.$pristine && submitted }" class="techMInput" ng-model="name" placeholder="Enter name" ng-focus="" ng-blur="" required>
          <p ng-show="techMForm.name.$invalid && !techMForm.name.$pristine" class="techHelp nameHelp">Your name is required.</p>
        </div>
        <div>
          <input type="email" name="email" ng-class="{ 'has-error' : techMForm.email.$invalid && !techMForm.email.$pristine && submitted }" class="techMInput" ng-model="email" placeholder="Enter email" ng-focus="" ng-blur="" required>
          <p ng-show="techMForm.email.$invalid && !techMForm.email.$pristine" class="techHelp emailHelp">Enter a valid email.</p>
        </div>
        <button type="submit" id="techLoginButton" class="btn btn-default" ng-disabled="techMForm.name === '' || techMForm.email === ''">Log In</button>

      </form>

    </div>

    <div id="techLoginDescription" ng-switch-when="MI16">
      Welcome to Mission Innovation 2016, by Tech Mahindra. We'll be providing all the video highlights from the presentations in a feed.
    </div>
    <div id="techLoginDescription" ng-switch-when="MWC">
      Welcome to Mission Innovation 2016, by Tech Mahindra. We'll be providing all the video highlights from the presentations in a feed.
    </div>

  </div>
</section>