<section id="postSection">
	<nav class="navbar navbar-fixed-top" id="postHeader">

			<span id="post_backToTopicButtonSpan">
				<button id="backToTopicButton" class="btn-link" ng-click="backToTopicButtonTapped()">
					<img src="img/backButton-2x.png"/>
				</button>
			</span>

			<span class="repliesHeaderPostAuthorPhoto">
				<!--a class="thumbnail"-->
  					<img ng-src="{{comment.postAuthorPhoto}}" alt="" class="repliesHeaderUserPhoto">
			    <!--/a-->
			</span>

			<span id="replyPost">
				<div class="roww">
					<span class="replyUsername">
						{{comment.postAuthorName}}
					</span>
					<span class="replyTimestamp">
						{{comment.postTimestamp}}
					</span>
				</div>

				<div class="replyContent">
					{{comment.html}}
				</div>
			</span>
	</nav>

	<div class="repliesContainer">
		<div ng-repeat="thisReply in replies" class="row postRow" ng-switch="thisReply.mediaType">
			
			<span class="postAuthorPhoto">
				<div class="thumbnail">
  					<img ng-src={{thisReply.postAuthorPhoto}} alt="" class="userPhoto">
			    </div>
			</span>

			<span class="post">
				<div class="roww">
					<span class="postUsername">
						{{thisReply.postAuthorName}}
					</span>
					<span class="timestamp">
						{{thisReply.postTimestamp}}
					</span>
				</div>

				<div class="postContent">
					{{thisReply.html}} 
				</div>

				<div ng-switch-when="image">
					<a class="image-link" href="{{thisReply.mediaUrl}}">
						<img ng-src="{{thisReply.mediaUrl}}" class="postPhoto"/>
					</a>
				</div>

				<div ng-switch-when="video">
					<img ng-src="{{thisReply.mediaThumbUrl}}" class="postVideo"/>
				</div>	

				<div class="sharingButtonsRow">
					<button class="btn-link social-btn"><img src="img/likeButton-2x.png"/> {{thisReply.likeCount}}</button>
					<button class="btn-link social-btn"><img src="img/commentButton-2x.png"/> {{thisReply.commentCount}}</button>
					<button class="btn-link social-btn"><img src="img/moreButton-2x.png"/></button>
				</div>
			</span>
			
		</div>
	</div>

	<footer class="footer" id="textEntryField">
       <div class="form-group" >
        <form ng-submit="postReply(commentText)">
        	<input id="replyCommentField" placeholder="Comment..." class="form-control" ng-model="commentText" type="text">
        	</form>
        </div>
	</footer>
</section>