<section id="postSection">
	<nav class="navbar navbar-fixed-top" id="postHeader">
			<div id="peelNavBar" ng-if="isPeelUser == true">
				<button class="btn-link peelButton" id="closePeelButton" ng-click="peelClose()"><img src="img/peelBackButton-2x.png"/></button>
				<button class="btn-link peelButton" id="peelWatchOnTVButton" ng-click="peelWatchOnTV()"><img src="img/peel_watchOnTVButton.png"/></button>
			</div>
			<div>
			<span id="post_backToTopicButtonSpan">
				<button id="backToTopicButton" class="btn-link" ng-click="backToTopicButtonTapped()">
					<img src="img/backButton-2x.png"/>
				</button>
			</span>
			</div>
			<!--span class="repliesHeaderPostAuthorPhoto">
				<img ng-src="{{comment.postAuthorPhoto}}" alt="" class="repliesHeaderUserPhoto">
			</span>

			<span id="replyPost">
				<div class="roww">
					<span class="replyUsername">
						{{comment.postAuthorName}}
					</span>
					<span class="replyTimestamp">
						{{comment.postTimestamp}}
					</span>
				</div>

				<div class="replyContent">
					{{comment.html}}
				</div>
			</span-->
	</nav>

	<div class="row repliesCommentRow" ng-switch="comment.mediaType">
		<span class="repliesHeaderPostAuthorPhoto">
			<a class="thumbnail">
					<img ng-src="{{comment.postAuthorPhoto}}" alt="" class="userPhoto">
		    </a>
		</span>

		<span class="post">
			<div class="roww">
				<span class="postUsername">
					{{comment.postAuthorName}}
				</span>
				<span class="timestamp">
					{{comment.postTimestamp}}
				</span>
			</div>

			<div class="postContent">
				{{comment.html}} 
			</div>

			<div ng-switch-when="image">
				<img ng-src="{{comment.mediaUrl}}" class="postPhoto" ng-click="imageClick(comment.mediaUrl);" />
			</div>

			<div ng-switch-when="video">
				<img ng-src="{{comment.mediaThumbUrl}}" class="postVideo"/>
			</div>	

			<div class="sharingButtonsRow">
				<button class="btn-link social-btn" ng-click="updateLikeComment(comment.id)" ng-switch="comment.isLiked">
					<img ng-switch-when="true" src="img/likeButton_selected-2x.png"/> 
					<img ng-switch-when="false" src="img/likeButton-2x.png"/> 
					{{comment.likeCount}}
				</button>
				<button class="btn-link social-btn" ng-click="triggerRepliesKeyboard()"><img src="img/commentButton-2x.png"/> {{comment.replyCount}}</button>
				<!--button class="btn-link social-btn"><img src="img/moreButton-2x.png"/></button-->
				<div class="btn-group">
						<button class="btn-link social-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="moreButtonTapped();">
						<img src="img/moreButton-2x.png"/>
						</button>
				  <ul class="dropdown-menu dropdown-menu-right" ng-switch="comment.isMyComment">
				    <li ng-switch-when="true"><a ng-click="deleteComment(comment.id);">Delete Comment</a></li>
				    <li ng-switch-when="false"><a ng-click="reportCommentAsSpam(comment.id);">Report as spam</a></li>
				  </ul>
				</div>
			</div>
		</span>
	</div>

	<div class="roww" id="repliesCommentSeparator">
		 &nbsp;
	</div>

	<div class="repliesContainer">
		<div ng-repeat="thisReply in replies" class="row postRow" ng-switch="thisReply.mediaType">
			
			<span class="postAuthorPhoto">
				<div class="thumbnail">
  					<img ng-src={{thisReply.postAuthorPhoto}} alt="" class="userPhoto">
			    </div>
			</span>

			<span class="post">
				<div class="roww">
					<span class="postUsername">
						{{thisReply.postAuthorName}}
					</span>
					<span class="timestamp">
						{{thisReply.postTimestamp}}
					</span>
				</div>

				<div class="postContent">
					{{thisReply.html}} 
				</div>

				<div ng-switch-when="image">
					<a class="image-link" href="{{thisReply.mediaUrl}}">
						<img ng-src="{{thisReply.mediaUrl}}" class="postPhoto"/>
					</a>
				</div>

				<div ng-switch-when="video">
					<img ng-src="{{thisReply.mediaThumbUrl}}" class="postVideo"/>
				</div>	

				<div class="sharingButtonsRow">
					<button class="btn-link social-btn" ng-click="updateLikeReply(thisReply.id)" ng-switch="thisReply.isLiked">
						<img ng-switch-when="true" src="img/likeButton_selected-2x.png"/> 
						<img ng-switch-when="false" src="img/likeButton-2x.png"/>

						{{thisReply.likeCount}}
					</button>
					<button class="btn-link social-btn" ng-click="triggerRepliesKeyboard()"><img src="img/commentButton-2x.png"/> {{thisReply.commentCount}}</button>
					<div class="btn-group">
							<button class="btn-link social-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="img/moreButton-2x.png"/>
							</button>
					  <ul class="dropdown-menu dropdown-menu-right" ng-switch="thisReply.isMyReply">
					    <li ng-switch-when="true"><a ng-click="deleteReply(thisReply.id);">Delete Comment</a></li>
					    <li ng-switch-when="false"><a ng-click="reportReplyAsSpam(thisReply.id);">Report as spam</a></li>
					  </ul>
					</div>
				</div>
			</span>
			
		</div>
	</div>

	<footer class="footer" id="textEntryField">
       <!--div class="form-group" >
        <form ng-submit="postReply(commentText)">
        	<input id="replyCommentField" placeholder="Comment..." class="form-control" ng-model="commentText" type="text">
        	</form>
        </div-->

        <form ng-submit="postReply(commentText)">
    		<div class="input-group">
      			<input id="replyCommentField" type="text" class="form-control" placeholder="Comment..." ng-model="commentText">
      			<span class="input-group-btn">
        			<button id="postReplyButton" class="btn btn-default" type="button" ng-click="postReply(commentText)">Comment</button>
      			</span>
    		</div><!-- /input-group -->
    	</form>
	</footer>
</section>


<div id="newRepliesAvailableIndicatorDiv" ng-show="showNewRepliesIndicator">
	<center>
		<button id="newCommentsAvailableIndicatorButton" class="btn-link" ng-click="newRepliesIndicatorTapped()"><img src="img/newContentAvailableIndicator-2x.png"/></button>
	</center>
</div>