<section>
    
	<nav class="navbar navbar-fixed-top" id="header">
       	<h2>Score Card</h2>
    </nav>

	<div id="topicDetails" class="row"> 
		Topic Details 
	</div>


	<div>
		<div ng-repeat="thisPost in posts" class="row postRow">
			<!-- <a href="#/post/{{thisPoist.postID}}"> -->
				<span class="postAuthorPhoto">
					<a href="#" class="thumbnail myThumbnail">
	  					<img src="img/emptyThumbnail.png" alt="">
				    </a>
				</span>

				<span class="post">
					<div class="row">
						<span class="postUsername">
							user name
						</span>
						<span class="timestamp">
							3m
						</span>
					</div>

					<div class="row postContent">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit asdij sdij sidj sidj sijd s sdj sidjs jdsi disa dij dij sidjs djis disj dijsi dsjdi sji dsidj isjd isjd isjdi sidj sijd isjdi sjidjs idj sijd sidisj disj 
					</div>

					<div class="row sharingButtonsRow">
						<button class="btn">Like</button>
						<button class="btn">Comment</button>
						<button class="btn">More</button>
					</div>
				</span>
			<!-- </a> -->
		</div>
	</div>
	
	<hr/>

	<div>
		<p>  TopicTitle :{{title}}</p>
		<button ng-click="init()"> getTopicDetails</button>
	</div>

	<!--footer class="footer" id="textEntryField">
        <div class="form-group">
        	<input placeholder="Comment..." class="form-control" type="text">
        </div>
	</footer-->
	
</section>


<!-- <a href="#/post/{{thisPost.postID}}">{{thisPost.postContent}}</a> -->