<section>
    
	<nav class="navbar navbar-fixed-top" id="header">
       	<canvas id="scoreCardCanvas" width="1" height="1">
   		</canvas>
   		<div id="scoreCardContent">

   			<div id="scoreCardTitlesRow" class="row">
				<span id="leftTeamSpan">
					<b>Seahawks</b>
				</span>
				<span id="rightTeamSpan">
					<b>49ers</b>
				</span>
			</div>

			<div id="scoreCardDataRow" class="row">
				<span id="leftTeamLogo">
					<span class="helper"></span>
					<img src="img/seahawks.png" class="teamLogo"/>
				</span>
				<span id="leftTeamScore">
					35
				</span>
				<span id="gameTime">
					<div>
						QTR 4
					</div>
					<div>
						02:45
					</div>
				</span>
				<span id="rightTeamScore">
					17
				</span>
				<span id="rightTeamLogo">
					<span class="helper"></span>
					<img src="img/49ers.png" class="teamLogo"/>
				</span>
			</div>

   		</div>
    </nav>

	<div id="topicDetails" class="row"> 
		Topic Details 
	</div>


	<div>
		<div ng-repeat="thisPost in posts" class="row postRow">
			<!-- <a href="#/post/{{thisPoist.postID}}"> -->
				<span class="postAuthorPhoto">
					<a href="#" class="thumbnail myThumbnail">
	  					<img src="img/emptyThumbnail.png" alt="">
				    </a>
				</span>

				<span class="post">
					<div class="row">
						<span class="postUsername">
							user name
						</span>
						<span class="timestamp">
							3m
						</span>
					</div>

					<div class="row postContent">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit asdij sdij sidj sidj sijd s sdj sidjs jdsi disa dij dij sidjs djis disj dijsi dsjdi sji dsidj isjd isjd isjdi sidj sijd isjdi sjidjs idj sijd sidisj disj 
					</div>

					<div class="row sharingButtonsRow">
						<button class="btn">Like</button>
						<button class="btn">Comment</button>
						<button class="btn">More</button>
					</div>
				</span>
			<!-- </a> -->
		</div>
	</div>
	
	<hr/>

	<div>
		<p>  TopicTitle :{{title}}</p>
		<button ng-click="init()"> getTopicDetails</button>
	</div>

	<!--footer class="footer" id="textEntryField">
        <div class="form-group">
        	<input placeholder="Comment..." class="form-control" type="text">
        </div>
	</footer-->
	
</section>


<!-- <a href="#/post/{{thisPost.postID}}">{{thisPost.postContent}}</a> -->